﻿@model ToOrder.Core.Entities.Restaurant
@{
    ViewBag.Title = "Dashboard";
}

@section pageHeader{
    <h5 class="text-uppercase">@Resources.Dashboard</h5>
}
@section Scripts
{
    <script>

        $("#chart").click(function (event) {
            window.location = "/RestaurantAdmin/Order/ShowBarGraphOrders";
        });
        $("#linechart").click(function (event) {
            window.location = "/RestaurantAdmin/Order/ShowLineGraphOrders";
        });
        $(document).on('click','#UnservedTable tr',function () {
            var orderId = $(this).find("td").eq(1).html();
            window.location = "/RestaurantAdmin/Order/UnservedOrderDetails?Id=" + orderId;
        });
            $(document).on('click','#LatestTable tr',function () {
            var orderId = $(this).find("td").eq(1).html();
            window.location = "/RestaurantAdmin/Order/LatestOrderDetails?Id=" + orderId;
        });
    </script>
}

<div class="container-fluid" id="testdiv"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card clearfix">
                @{Html.RenderAction("BarGraphOrder", "Order", new { area = "Restaurantadmin" });}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card clearfix">
                @{Html.RenderAction("LineGraphOrder", "Order", new { area = "Restaurantadmin" });}
            </div>
        </div>
    </div>
    <div class="row padding-md">
        <div class="col-md-4">
            <div class="card">
                @{Html.RenderAction("UnservedOrders", "Order", new { area = "Restaurantadmin" });}
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                @{Html.RenderAction("LatestOrders", "Order", new { area = "Restaurantadmin" });}
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                @{Html.RenderAction("LatestOrders", "Order", new { area = "Restaurantadmin" });}
            </div>
        </div>
    </div>

</div>

