﻿@model IEnumerable<ToOrder.Core.Entities.Restaurant>

@{
    ViewBag.Title = "MyRestaurants";
}


@section pageHeader{
    <h5>@Resources.Select Restaurant</h5>
}

<div>



    @foreach (var item in Model)
    {

        <div class="col-md-6 col-lg-5">
            <div class="card">
                <a href="@Url.Action("SelectRestaurant", "Restaurant", new { id = item.Id })">

                    <div class="clearfix" >
                        
                        <img src="@Url.Content( "~/Pictures/Restaurant/" + item.Id + "_" + item.PictureFileName)"
                             class="img-responsive " onerror="this.onerror = null;
                         this.src = '/Images/restaurant-default.png';"
                             style="max-height:130px;width:auto;float:left;margin-right:20px;">

                        <h4>
                            <label class="text-success text-uppercase">
                                @Html.DisplayFor(modelItem => item.Name)

                            </label>
                        </h4>

                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>


                </a>
            </div>
        </div>
    }

</div>


