﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
  .box-shad {
        -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    }

    .brdr {
        border: 1px solid #ededed;
    }

    .bgc-fff {
        background-color: #fff !important;
    }

    .pad-10 {
        padding: 25px !important;
    }

    .btm-mrg-20 {
        margin-bottom: 20px !important;
    }

    .img-box {
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);*/
        border-radius: 2px;
        border: 0;
    }

    body {
        padding: 60px 0px;
        background-color: rgb(245, 245, 245);
    }
  #cuisines:after{
      content:",";
  }
  #cuisines:last-of-type:after{
  content: "";
}