﻿@model ToOrder.Core.Entities.RestaurantCuisine

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurantCuisines", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Restaurant @Resources.Cuisines</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RestaurantId)



            <div class="form-group">
                @Html.Label("Cuisine", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CuisineId, ViewBag.CuisineList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CuisineId, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> @Resources.Save </button>
                    <input type="button" value="@Resources.Close" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }

</div>
