﻿@model ToOrder.Core.Entities.RestaurantCuisine

@{
    ViewBag.Title = "Delete";
}
<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurantCuisines", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RestaurantId)



            <div class="form-group">
                <div class="col-md-10">
                    <h4>@Resources.DeleteConfirmation cuisine @Html.ValueFor(model => model.Cuisine.Name)?</h4> <br /><br />
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> @Resources.Yes </button>
                    <input type="button" value="@Resources.No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }
</div>
