﻿@model IEnumerable<ToOrder.Core.Entities.RestaurantCuisine>

@{
    ViewBag.Title = "Index";
}


<div class="section-title clearfix">
    <span class="glyphicon glyphicon-apple"></span>  <label>@Resources.Cuisines</label>
    @Ajax.ActionLink(Resources.Add, "Create", new { restaurantId = (int)ViewBag.RestaurantId }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })

</div>


<table class="table table-hover tableNoBorder">


    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Cuisine.Name)
            </td>
            <td style="text-align:right; padding-right:15px;">
                @Ajax.ActionLink(Resources.Edit, "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })


                @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
            </td>
        </tr>
    }

</table>
