﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/AdminSite.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/adminscript.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">

        @if (IsSectionDefined("header"))
        {
        @RenderSection("header")
        }
        else
        {
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="width:210px" class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })"> <span class="logo"><b>2</b>ordr</span>&nbsp; </a>
            </div>

            <a style="color:orange" class="navbar-brand"><span class="logo"><b>@this.Session["restaurantName"]</b></span></a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{Html.RenderAction("LanguageSelector", "Language", new { area = "" });}
                    </li>

                    <li>

                        <a href="@Url.Action("Index","Home",new{area=""})" class=""><i class="glyphicon glyphicon-home"></i> Website</a>

                    </li>

                    <li>
                        <a href="@Url.Action("SignOut","Account",new{area=""})" class=""><i class="glyphicon glyphicon-user"></i> Sign Out</a>

                    </li>
                </ul>
            </div>
        </div>
        }
    </nav>

    <div class="fixed-sidebar-left">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <ul class="nav navbar-nav side-nav nicescroll-bar" style="overflow: hidden; width: auto; height: 100%;">
                <li><a id="restDashboard" href="@Url.Action("Dashboard", "Restaurant", new { area = "Restaurantadmin" })"><i class="glyphicon glyphicon-picture"></i> Dashboard </a></li>
                <li>
                    <a id="orders" href="#" ><i class="glyphicon glyphicon-list-alt"></i> Orders</a>
                    <ul>
                        <li> <a id="orderIndex" href="@Url.Action("Index", "Order")"> Unserved</a> </li>

                        <li> <a id="orderServed" href="@Url.Action("Served","Order")">Previous Orders</a> </li>


                    </ul>
                </li>
                <li>
                    <a id="food" href="#" ><i class="glyphicon glyphicon-cutlery"></i> Food</a>
                    <ul>
                        <li> <a id="category" href="@Url.Action("Index","Category")"> Categories</a> </li>

                        <li> <a id="menuCard" href="@Url.Action("Index","MenuCard")">Menu Cards</a> </li>


                    </ul>

                </li>


                <li><a id="restaurant" href="@Url.Action("Edit", "Restaurant", new { area = "RestaurantAdmin" })"><i class="glyphicon glyphicon-glass"></i> Restaurant</a></li>
                <li><a id="user" href="@Url.Action("Index", "User", new { area = "RestaurantAdmin" })"><i class="glyphicon glyphicon-user"></i> Users</a></li>

            </ul>
        </div>
    </div>


    <div class="page-wrapper" style="min-height:900px;">
        <div class="container-fluid">
            <div class="row heading-bg bg-yellow txt-light">
                @RenderSection("pageHeader", false)
            </div>

            <div class="row">
                @RenderBody()
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.tablesorter.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>