﻿@model IList<ToOrder.Core.Entities.OrderDetails>

<div class="">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessOrder", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <label>@Resources.Orders# @Html.DisplayFor(model => model.First().OrderId)</label>

        <span class="pull-right">@Html.ValueFor(model => model.First().Order.Date) </span>
        <label class="control-label pull-right" for="@Resources.Date">@Resources.Date:</label>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.First().OrderId)

        <div class="form-group">
            <div class="col-md-9 col-md-offset-2">

                @if (Model.Any())
                {
                    foreach (var items in Model.Select(i => i.Order).Distinct())
                    {
                        <div class="col-md-offset-2">
                            <label class="control-label" for="@Resources.Name">Restaurant @Resources.Name:</label>  <span>@Html.ValueFor(model => items.Restaurant.Name) </span><br />
                        </div>
                    }
                }
            </div>
            <div>
                @if (Model.Any())
                {
                    foreach (var user in Model.Select(i => i.Order.User).Distinct())
                    {
                        <label class="control-label" for="@Resources.Name">User @Resources.Name:</label>  <span>@Html.ValueFor(model => user.FirstName) </span><br />
                        <label class="control-label" for="@Resources.Mobile"> @Resources.Mobile:</label>  <span>@Html.ValueFor(model => user.Mobile) </span><br />
                        <label class="control-label" for="@Resources.Region"> @Resources.Region:</label>  <span>@Html.ValueFor(model => user.Address.Region) </span><br />
                    }
                }
            </div>
        </div>

        <div>
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayName(Resources.Name)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.Price)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.Qty)
                    </th>
                    <th class="text-right">
                        @Html.DisplayName("Total")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MenuItem.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MenuItem.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td class="text-right">
                            @((item.Qty * item.MenuItem.Price).ToString("c"))
                        </td>
                        <td></td>
                    </tr>
                }

            </table>
        </div>

        <div class="col-md-4 col-md-offset-8">
            <label class="control-label" for="@Resources.GrossAmount">@Resources.GrossAmount:</label>  <span>@Html.ValueFor(model => model.First().Order.GrossAmount) </span><br />&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

            <label class="control-label" for="@Resources.Tax">@Resources.Tax:</label> &nbsp; <span>@Html.ValueFor(model => model.First().Order.Tax) </span><br /> &nbsp; &nbsp;&nbsp;
            <label class="control-label" for="@Resources.NetAmount">@Resources.NetAmount:</label>  <span>@Html.ValueFor(model => model.First().Order.NetAmount) </span><br />
        </div>

    }

</div>
