﻿@model ToOrder.Core.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<div>
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessCategory", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-md-10">
                    <h4>@Resources.DeleteConfirmation Category @Model.Name?</h4> <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span>@Resources.Yes</button>
                    <input type="button" value="@Resources.No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>

    }
</div>
