﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Category>

@{
    ViewBag.Title = "Index";
}

@section pageHeader{
    <h5>@Resources.Category</h5>

}

<div class="card">

    <p>
        @Html.ActionLink(Resources.AddNew, "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayName(Resources.Name)
            </th>
            <th>
                @Html.DisplayName(Resources.Description)
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td></td>
                <td>
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id }) |
                    @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { OnSuccess = "showDialog", UpdateTargetId = "ajaxDialog" })
                </td>
            </tr>
        }

    </table>

    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page }))
    </div>

</div>


<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
@section scripts {
    <script>
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2Ordr", width: "auto" })

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessCategory(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "Category")";
        };
        function handleSuccessCategoryItems(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "Category")";
        };

        function handleError(ajaxContext) {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };
    </script>
}