﻿@model ToOrder.Core.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<div>
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessCategoryItems", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-md-10">
                    <h4> Category @Model.Name @Resources.CanNotDeleted.</h4> <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="@Resources.OK" class="btn btn-primary btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>

    }
</div>
