﻿@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="section-title">
            <span class="glyphicon glyphicon-globe"></span>  <label>Location Map</label>
        </div>
        <div id="map" style="width:100%;height:300px;"></div>
    </div>
}

<script>
    var myCenter;
    var mapOptions;
    var map;
    var marker;
    var infowindow;
    function myMap() {

        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById('Address_Locality').value;

        var latitude = document.getElementById('Latitude').value;
        var lat = latitude.toString().replace(',', '.');

        var longitude = document.getElementById('Longitude').value;
        var lon = longitude.toString().replace(',', '.');

        var zoomVal = parseInt(document.getElementById('Zoom').value);
        if (zoomVal == 0) {
            zoomVal = 13;
        }

        if (lat == 0 || lon == 0) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == 'OK') {
                    myCenter = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                    mapOptions = { center: myCenter, zoom: zoomVal }

                    document.getElementById('Latitude').value = results[0].geometry.location.lat();
                    document.getElementById('Longitude').value = results[0].geometry.location.lng();
                    
                    MapInfo();
                }
                else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        else {
            myCenter = new google.maps.LatLng(lat, lon);
            mapOptions = { center: myCenter, zoom: zoomVal };

            MapInfo();
        }
    }

    function MapInfo() {
        var mapCanvas = document.getElementById("map");
        map = new google.maps.Map(mapCanvas, mapOptions);
        marker = new google.maps.Marker({ position: myCenter, draggable: false });
        marker.setMap(map);

        infowindow = new google.maps.InfoWindow({
            content: "<b>Latitude:  </b>" + myCenter.lat() + "<br/> <b>Longitude:  </b>" + myCenter.lng()
        });
        infowindow.open(map, marker);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZkNTEJ2QUqe6PyeOVOBwjUuKzg7YeE2A&callback=myMap"></script>

