﻿@model IEnumerable<ToOrder.Core.Entities.Restaurant>
@{
    ViewBag.Title = "GoogleMapRestaurants";
}

<p id="demo"></p>
<div id="map" style="width:100%;height:500px"></div>

<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition,showError);
    }

    function myMap(lat,long) {
        var zoomLevel=2;
        var x = document.getElementById("demo");
        var image1 = {
            url: "@Url.Content("~/Content/Images/marker.png")",
            scaledSize: new google.maps.Size(27, 22),
        };
        var infoWindowArray = new Array();
        var mapCanvas = document.getElementById("map");
        if(lat==0 || lat===undefined )
        {
            center = new google.maps.LatLng(20.593684, 78.96288000000004);

        }
        else{

            center = new google.maps.LatLng(lat, long);
            zoomLevel=20;

        }

        var mapOptions = {
            center: center,
            zoom: zoomLevel,
            scrollwheel: false
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);

        @foreach(var item in Model)
                {
                <text>
        if(@item.Latitude!=0)
        {
            var latlng = new google.maps.LatLng('@item.Latitude', '@item.Longitude');
            var infowindow = new google.maps.InfoWindow();
            var contentStringCal = '<div class="infoWindow"><strong><b>@item.Name</b></strong></div>';
            marker = new google.maps.Marker({ position: latlng, draggable: false,icon:image1,title:"Click here for details"});
            marker.setMap(map);

            bindInfoWindow(marker, map, infowindow, contentStringCal);

            marker.addListener('click', function() {
                location.href = "@Url.Action("Index", "MenuCard", new { restaurantId = item.Id })";
            });

            map.addListener('click',function(){
                map.set('scrollwheel',true);
            });
            map.addListener('mouseout', function() {
                map.set('scrollwheel',false);
            });

        }
        else{
            var geocoder = new google.maps.Geocoder();
            setTimeout(function(){ geocoder.geocode({ 'address': '@item.Address.Locality' }, function (results, status) {
                if (status == 'OK') {
                    var latlng =  new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                    var infowindow = new google.maps.InfoWindow();
                    var contentStringCal = '<div class="infoWindow"><strong><b>@item.Name</b></strong></div>';
                    marker = new google.maps.Marker({ position: latlng, draggable: false,icon:image1,title:"Click here for details"});
                    marker.setMap(map);
                    bindInfoWindow(marker, map, infowindow, contentStringCal);
                    marker.addListener('click', function() {
                        location.href = "@Url.Action("Index", "MenuCard", new { restaurantId = item.Id })";
                    });

                    map.addListener('click',function(){
                        map.set('scrollwheel',true);
                    });
                    map.addListener('mouseout', function() {
                        map.set('scrollwheel',false);
                    });

                }
                else
                    if(status == "OVER_QUERY_LIMIT")
                    {
                        setTimeout(200);
                    }
                    else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }

            })},200);

        }
        </text>
        }


    }
    function bindInfoWindow(marker, map, infowindow, html) {
        marker.addListener('mouseover', function() {
            infowindow.setContent(html);
            infowindow.open(map, this);
        });

        marker.addListener('mouseout', function() {
            infowindow.close(map,this);
        });
    }

    function showPosition(position) {
        myMap(position.coords.latitude,position.coords.longitude);

    }
    function showError() {

        var address='';
        var lattitude='';
        var longitude='';

        @{
            if(Request!=null && Request.Cookies!=null && Request.Cookies.Get("userInfo")!=null)
            {
                <text>

        address='@Request.Cookies["userInfo"]["Locality"]';
        lattitude=@Request.Cookies["userInfo"]["lattitude"];
        longitude=@Request.Cookies["userInfo"]["longitude"];
        </text>
            }
        }
        if(address=='' && lattitude=='' && longitude=='')
        {
            myMap(0.0,0.0);
        }
        else{

            if(lattitude!='' && longitude!=''){
                myMap(lattitude, longitude);
            }
            else{
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        myMap(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                    }
                    else {
                        myMap(0.0,0.0);
                    }
                });

            }
        }

    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZkNTEJ2QUqe6PyeOVOBwjUuKzg7YeE2A&callback=myMap"></script>

