﻿@model IEnumerable<ToOrder.Core.Entities.Restaurant>


@if (Model == null || Model.Count() < 1)
{
    <div class="text-center ">
        <label class="text-danger">@Resources.NoRestaurantsfound</label> <br />
        <span>@Resources.CheckPopulerRestaurant:</span>
    </div>
    <div style="background-color:white; margin:20px;">
        @{Html.RenderAction("SponsoredRestaurants", "Restaurant");}
    </div>
}
else
{

    foreach (var item in Model)
    {

        <div class="col-md-6 col-lg-5">
            <a style="text-decoration: none;" href="@Url.Action("Index", "MenuCard", new { restaurantId = item.Id })">
                <div class="boxShadow left-container">
                    <div class="restaurantpicture left">
                        <img src="@Url.Content( "~/Pictures/Restaurant/" + item.Id + "_" + item.PictureFileName)" class="img-responsive" style="height:100%; width:100%; " onerror="this.onerror = null; this.src = '/Images/restaurant-default.png';">
                    </div>
                    <div class="restaurantDetails">
                        <h4>@item.Name </h4>

                        <div class="cuisineList">
                            @foreach (var cuisine in item.Cuisine)
                            {
                                @(cuisine.Cuisine.Name + " ")
                            }
                        </div>
                        <hr />

                        @for (int i = 1; i <= 4; i++)
                        {
                            if (i <= item.Budget)
                            {
                                <span class="currency currency-active glyphicon glyphicon-usd small"></span>
                            }
                            else
                            {
                                <span class="currency glyphicon glyphicon-usd small"></span>
                            }
                        }

                        @{
                            var count=0;
                            var temp=0;
                            var average=0;
                            foreach(var rating in item.Rating)
                            {
                            temp+=rating.Ratings;
                                count++;

                            }
                            if (count > 0) { 
                            average = temp / count;
                            }
                      }
                        <span class="pull-right">
                            @average <span class="glyphicon glyphicon-star stars"></span>
                        </span>
                    </div>


                </div>
            </a>
        </div>
    }
}
