﻿@model ToOrder.Core.Entities.Restaurant

@{
    Layout = null;
}

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurant", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Address.Locality)
        @Html.HiddenFor(model => model.Latitude)
        @Html.HiddenFor(model => model.Longitude)
        @Html.HiddenFor(model => model.Zoom)

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <h3>@Model.Name</h3><hr />
                        </div>
                        <div class="row">
                            <div class=" col-md-6">
                                <i class="glyphicon glyphicon-map-marker"></i><label>@Resources.Address</label><hr style="margin-top:0px" />
                                <label>@Resources.Street</label>:   <span>@Model.Address.Street</span><br />
                                <label>@Resources.Locality</label>:   <span id="address_Locality">@Model.Address.Locality</span><br />
                                <label>@Resources.Region</label>:   <span>@Model.Address.Region</span><br />
                                <label>@Resources.Country</label>:   <span>@Model.Address.Country</span>
                            </div>
                            <div class=" col-md-6">
                                <i class="glyphicon glyphicon-map-marker"></i><label>@Resources.Contact</label><hr style="margin-top:0px" />
                                <label>@Resources.Email</label>:   <span>@Model.Contact.Email</span><br />
                                <label>@Resources.Website</label>:   <span>@Model.Contact.Website</span><br />
                                <label>@Resources.FaxNumber</label>:   <span>@Model.Contact.FaxNumber</span><br />
                                <label>@Resources.Telephone</label>:   <span>@Model.Contact.Telephone</span>
                            </div>
                        </div><hr />

                        <div class="row">
                            @{Html.RenderPartial("GoogleMapPartial", Model);}
                        </div>
                    </div>
                </div>
            </div>
    }
</div>

