﻿@model IEnumerable<ToOrder.Core.Entities.Restaurant>

<div class="sponsoredRestaurants">
    <h2>@Resources.PopularRestaurants</h2>



    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-lg-3">
                <div class="card">
                    <a style="text-decoration: none;" href="@Url.Action("Index", "MenuCard", new { restaurantId = item.Id })">
                        <div class="restaurantpicture">
                            <img src="@Url.Content( "~/Pictures/Restaurant/" + item.Id + "_" + item.PictureFileName)" class="" style="height:100%; width:100%; " onerror="this.onerror = null; this.src = '/Images/restaurant-default.png';">
                        </div>
                        <span>@item.Name</span>
                    </a>
                </div>
            </div>


        }
    </div>
</div>

