﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Order>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script>
        $(function () {

            $(".tablesorter").tablesorter({
                sortReset: true,
                sortRestart: true,
                sortInitialOrder: 'desc',
                headers: { 6: { sorter: false } }

            });
        });

        $(function () {
            $('#fromDate').datepicker({
                dateFormat: "dd-M-y",
                changeMonth: true,
                changeYear: true,
            });
        })
        $(function () {
            $('#toDate').datepicker({
                dateFormat: "dd-M-y",
                changeMonth: true,
                changeYear: true,
            });
        })
    </script>

}


@section pageHeader{
    <h5>@Resources.Orders</h5>
}

<div class="row section">

    <div class="col-md-6">
        @using (Html.BeginForm("Search", "Order", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.Label(Resources.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("restaurantId", new SelectList(ViewBag.restaurant, "Id", "Name"), "", new { @class = "form-control" })
                    @Html.ValidationMessage("restaurant")
                </div>
            </div>
            <div class="form-group">
                <label for="@Resources.Amount" class="col-md-3 control-label">@Resources.Amount</label>
                <div class="col-md-9">
                    <input type="text" name="amount" class="form-control" id="amount" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="@Resources.FromDate" class="col-md-3 control-label">@Resources.FromDate</label>
                <div class="col-md-4">
                    <input type="text" name="fromDate" class="form-control" id="fromDate" placeholder="">
                </div>
                <label for="@Resources.ToDate" class="col-md-1 control-label">@Resources.ToDate</label>
                <div class="col-md-4">
                    <input type="text" name="toDate" class="form-control" id="toDate" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> @Resources.Search</button>
                </div>
            </div>
        }
    </div>

</div>

<div class="section">

    <div>
        <table class="table table-hover table-responsive  tablesorter">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName(Resources.Date)
                    </th>
                    <th>
                        @Html.DisplayName("Restaurant")
                    </th>
                    <th>
                        @Resources.User @Resources.Name
                    </th>
                    <th>
                        @Html.DisplayName(Resources.GrossAmount)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.Tax)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.NetAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restaurant.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrossAmount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Tax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetAmount)
                    </td>
                    <td>
                        @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-xs" })
                    </td>
                </tr>
            }

        </table>

    </div>

    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page, restaurantId = ViewBag.restaurants }))
    </div>

</div>
