﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Order>
@{
    Layout = null;
}



<div id="replaceDiv" style="background-color:white">
    <h4 class="text-uppercase" style="color:rgba(118, 118, 118, 1.0);">@Resources.TodaysOrders</h4>
    <div style="height:420px">
        <table class="table table-hover table-responsive  tablesorter" id="TodayTable">

            <tr>
                <th>
                    @Html.DisplayName(@Resources.OrderId)
                </th>
                <th>
                    @Html.DisplayName(@Resources.RestaurantName)
                </th>
                <th>
                    @Html.DisplayName(@Resources.CustomerName)
                </th>
                <th>
                    @Html.DisplayName(@Resources.TotalOrderAmount)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Ajax.ActionLink(item.Id.ToString(), "OrderDetails", "Order", new { area = "admin", orderId = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog"})
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Restaurant.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.GrossAmount)
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("SearchTodaysOrders", new { page, order = ViewBag.order }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replaceDiv" }))
    </div>
</div>