﻿@model ToOrder.Core.Entities.Order

<div class="container" style="background-color:white;">
@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessOrders", OnFailure = "handleError" }))
    {
    @Html.AntiForgeryToken()
    <h4>@Resources.Orders# @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-9 col-md-offset-2">

                <div class="col-md-offset-2">
                    <label class="control-label" for="@Resources.Name">Restaurant @Resources.Name:</label>  <span>@Html.ValueFor(model => model.Restaurant.Name) </span><br />
                    <label class="control-label" for="@Resources.Date">@Resources.Date:</label>  <span>@Html.ValueFor(model => model.Date) </span><br />
                    <label class="control-label" for="@Resources.GrossAmount">@Resources.GrossAmount:</label>  <span>@Html.ValueFor(model => model.GrossAmount) </span><br />

                    <label class="control-label" for="@Resources.Tax">@Resources.Tax:</label>  <span>@Html.ValueFor(model => model.Tax) </span><br />
                    <label class="control-label" for="@Resources.NetAmount">@Resources.NetAmount:</label>  <span>@Html.ValueFor(model => model.NetAmount) </span><br />
                </div>
                <hr />
            </div>

        </div>

    </div>
}
</div>

