﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Restaurant>
@{
    Layout = null;
}

<div id="replaceDiv2" style="background-color:white">
    <h4 class="text-uppercase" style="color:rgba(118, 118, 118, 1.0);">@Resources.RestaurantsAddedToday</h4>
    <div style="height:420px">
        <table class="table table-hover table-responsive  tablesorter" id="TodayTable">

            <tr>
                <th>
                    @Html.DisplayName(@Resources.RestaurantName)
                </th>
                <th>
                    @Html.DisplayName(@Resources.Locality)
                </th>
                <th>
                    @Html.DisplayName(@Resources.Contact)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Ajax.ActionLink(item.Name.ToString(), "RestaurantDetails", "Order", new { area = "admin", restaurantId = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Address.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Contact.Telephone)
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("SearchRestaurantTodays", new { page, restaurant = ViewBag.restaurant }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replaceDiv2" }))
    </div>
</div>