﻿@model ToOrder.Core.Entities.Restaurant

@{
    Layout = null;
}

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurant", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Address.Locality)
        @Html.HiddenFor(model => model.Latitude)
        @Html.HiddenFor(model => model.Longitude)
        @Html.HiddenFor(model => model.Zoom)

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <h3>@Model.Name</h3><hr />
                    </div>
                    <div class="row">
                        <div class=" col-md-6">
                            <span class="glyphicon glyphicon-map-marker"></span><span style="margin-left:5px"><strong>@Resources.Address</strong></span><hr style="margin-top:0px" />
                            <label>@Resources.Street</label>:   <span>@Model.Address.Street</span><br />
                            <label>@Resources.Locality</label>:   <span id="address_Locality">@Model.Address.Locality</span><br />
                            <label>@Resources.Region</label>:   <span>@Model.Address.Region</span><br />
                            <label>@Resources.Country</label>:   <span>@Model.Address.Country</span>
                        </div>
                        <div class=" col-md-6">
                            <span class="glyphicon glyphicon-phone-alt"></span><span style="margin-left:5px"><strong>@Resources.Contact</strong></span><hr style="margin-top:0px" />
                            <label>@Resources.Email</label>:   <span>@Model.Contact.Email</span><br />
                            <label>@Resources.Website</label>:   <span>@Model.Contact.Website</span><br />
                            <label>@Resources.FaxNumber</label>:   <span>@Model.Contact.FaxNumber</span><br />
                            <label>@Resources.Telephone</label>:   <span>@Model.Contact.Telephone</span>
                        </div>
                    </div><hr />

                    <div class="row">
                        @{Html.RenderPartial("GoogleMapPartial", Model);}
                    </div>
                </div>
            </div>
        </div>
    }
</div>

