﻿@model ToOrder.Core.Entities.User
@{
    ViewBag.Title = "AccountCreated";
}

<div class="container">
    <div class="signInContainer">
        <div class="text-center">
            <span style="font-size:48px;" class="glyphicon glyphicon-ok-sign text-success"></span>
            <h4 style="margin-top:5px;" class="text-success">Hello @Model.FirstName @Model.LastName ! @Resources.AccountSuccessfullyCreated .</h4>

            <br />

            <p>
                <label>@Resources.VerificationEmailSend.</label><br />
                <span>@Resources.VerificationEmailLink.</span>
            </p>

            <br />
            <h4>E-mail : @Model.Email</h4>

            <br />
            <br />

            <a href="@Url.Action("MyAccount","User")" class="btn btn-success">@Resources.ProceedMyAccount</a>
        </div>
    </div>
</div>



