﻿@model ToOrder.Core.Entities.User
<div class="nav-section">
    <h5>@Resources.Orders</h5>
    <p>@Ajax.ActionLink(Resources.MyOrders, "Index", "Order", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "myAccountContentWrapper", AllowCache = false }, null) </p>
</div>

<div class="nav-section">
    <h5>@Resources.Payments</h5>
    <p>@Ajax.ActionLink(Resources.MyCards, "Index", "Cards", new { id = 1 }, new AjaxOptions { UpdateTargetId = "myAccountContentWrapper", InsertionMode = InsertionMode.Replace }, null)</p>
</div>


<div class="nav-section">
    <h5>@Resources.Settings</h5>
    <p>@Ajax.ActionLink(Resources.MyProfile, "Edit", "User", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "myAccountContentWrapper", AllowCache = false }, null) </p>
    <p>@Ajax.ActionLink(Resources.ChangePassword, "ChangePassword", "User", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "myAccountContentWrapper" }, null)</p>
    <p><a href="#">@Resources.EmailPreferences</a></p>


</div>
