﻿@model ToOrder.Core.Entities.User

@{
    ViewBag.Title = "MyAccount";
}

<div class="container whitePanel">


    <h2>@Resources.MyAccount</h2>



    <div class="adminContainer">

        @{
            if (Model.Roles != null) { 
            if (Model.Roles.Any(r => r.Role.Name.ToLower() == "admin"))
            {
                <text>
                    <a href="@Url.Action("Index","Home",new{Area="Admin"})" class="btn btn-warning">Admin</a>
                </text>
            }

            if (Model.Roles.Any(r => r.Role.Name.ToLower().Contains("restaurant")))
            {
                <text>
                    <a href="@Url.Action("MyRestaurants","Restaurant",new{Area="RestaurantAdmin"})" class="btn btn-primary">@Resources.ManageRestaurant</a>
                </text>
            }

            }

        }
        &nbsp;
        @Html.ActionLink(Resources.SignOut, "SignOut", "Account", null, new { @class = "btn btn-default pull-right" })
    </div>


    <div class="row">
        <div class="col-md-3">
            @{Html.RenderPartial("MyAccountMenu", Model);}
        </div>
        <div class="col-md-9">
            <div id="myAccountContentWrapper">
                @{Html.RenderAction("Edit", "User");}
            </div>
        </div>
    </div>




</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:600px;"></div>

@section Scripts {

    <script>
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2Ordr", width: "auto" })

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessOrder(data) {

            $("#ajaxDialog").dialog("close");
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

        function handleSuccessUserCard(data) {
            $("#myAccountContentWrapper").html(data);
            $("#ajaxDialog").dialog("close");
        };

        function ExpiryDate() {
            var month = $("#Months").val();
            var year = $("#Years").val();
            var date = year + "-" + month + "-28";
            return date;
        };
        $(document).ready(function () {
            $(document).on("change keyup", ".CardNum", function () {
                var cardnumber = $(this).val().split("-").join("");
                if (cardnumber.length > 0) {
                    cardnumber = cardnumber.match(new RegExp('.{1,4}', 'g')).join("-");
                }
                $(this).val(cardnumber);
            });
        });
        function DeleteCard(id) {
            $.ajax({
                url: '@Url.Action("Delete","Cards")',
                dataType: 'html',
                data: { "Id": id },
                type: 'GET',
                success: function (data) {
                    $("#ajaxDialog").html(data);
                    showDialog(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });

        };

        $('.nav-section a').click(function () {
            $('.nav-section a').not(this).removeClass('activeBgColor');
            $(this).toggleClass('activeBgColor')

        });

    </script>
}
}