﻿@{
    ViewBag.Title = "PasswordChanged";
}
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "myAccountContentWrapper" }))
{
    @Html.AntiForgeryToken()
    <div class="center-block">
        <h4 class="text-success">@Resources.PasswordChangeSuccess</h4>
    </div>

}

