﻿@model IEnumerable<ToOrder.Core.Entities.Cuisine>

<div class="searchByCuisines">
    <h2>@Resources.SearchbyCuisines</h2>


    <ul style="list-style-type:none;columns: 3; -webkit-columns: 3;  -moz-columns: 3;">

        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Name, "Index", "Restaurant", new { cuisineIds = item.Id }, null)
            </li>
        }

    </ul>
</div>