﻿@model ToOrder.Core.Entities.MenuItem

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurantMenuItem", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Resources.New @Resources.MenuItem</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.MenuCardId)

            <div class="form-group">
                @Html.Label(Resources.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">

                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">

                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Resources.Category, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.menuItemTableList as List<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(Resources.Price, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">

                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button value="Save" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> @Resources.Save </button>
                    <input type="button" value="@Resources.Close" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }

</div>
