﻿@model ToOrder.Core.Entities.MenuItem

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurantMenuItem", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.MenuCardId)

            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <h4>
                        @Resources.DeleteConfirmation?
                    </h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9 col-md-offset-2">
                    <div class="col-md-offset-2">
                        <label class="control-label" for="@Resources.Name">@Resources.Name:</label>  <span>@Html.ValueFor(model => model.Name) </span><br />
                        <label class="control-label" for="@Resources.Description">@Resources.Description:</label>  <span>@Html.ValueFor(model => model.Description) </span><br />
                        <label class="control-label" for="@Resources.Category">@Resources.Category:</label>  <span>@Html.ValueFor(model => model.Category.Name) </span><br />
                        <label class="control-label" for="@Resources.Price">@Resources.Price:</label>  <span>@Html.ValueFor(model => model.Price) </span><br />
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="col-md-offset-1">
                        <button value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> @Resources.Yes </button>
                        <input type="button" value="@Resources.No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
