﻿@model IList<ToOrder.Core.Entities.MenuItem>
@using System.Linq

@{
    ViewBag.Title = "RestaurantMenu";
}

@section Scripts{
    <script>
        $(function () {

            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2ordr", width: "auto" });


            $(".nav-sidebar a").on('click', function (event) {

                var $el = $('.siteHeader');
                var isPositionFixed = ($el.css('position') == 'fixed');

                var customoffset;
                if (!isPositionFixed) {
                    customoffset = 170;
                }

                if (isPositionFixed) {
                    customoffset = 100;
                }

                if (this.hash !== "") {
                    event.preventDefault();
                    var target_offset = $(this.hash).offset() ? $(this.hash).offset().top : 0;

                    $('html, body').animate({
                        scrollTop: target_offset - customoffset
                    }, 2000);
                }
            });

            $("#searchBtn").click(function () {
                startSearch();
            });


            $('#searchBox').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#searchBtn').click();
            });

        });

        function startSearch() {

            keywords = $("#searchBox").val();
            restaurantId = $("#restaurantId").val();

            window.location = "/MenuCard/SearchMenuItem?keywords=" + keywords + "&restaurantId=" + restaurantId;
        }

        @if (TempData["Message"] != null) {

            <text>
        var message = "@TempData["Message"]";

        $('#message').append(message).delay(2000).fadeOut("slow");
        </text>
        }


        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessRestaurant(data) {

            $("#ajaxDialog").dialog("close");
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };


    </script>

}

@section header{
    <div>

        <div class="input-group">
            <input type="text" id="searchBox" placeholder="Search" class="form-control input-sm" />
            <span class="input-group-btn">
                <button type="button" id="searchBtn" value="Search" class="btn btn-default input-sm"><span class="glyphicon glyphicon-search"> </span></button>
            </span>
            <input type="text" id="restaurantId" class="hidden" value="@ViewBag.restaurantId" />
        </div>
    </div>

}

<div id="myPage">
    <div class="col-sm-3 col-md-3 col-lg-2 padding-sm" style="position:absolute;overflow-y:auto;height:100%;">
        <div class="filterPanel">

            <div class="filterSection ">
                <label><span class="glyphicon glyphicon-apple"></span> Categories</label>
                @if (Model.Any())
                {
                    foreach (var items in Model.Select(i => i.Category).Distinct())
                    {
                        <div class="collapse navbar-collapse">
                            <ul class="nav-sidebar nav">
                                <li> <a href="#@items.Name" style="color:gray">@Html.DisplayFor(model => items.Name)</a></li>
                            </ul>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-10 padding-sm" style="position:absolute; right:0;">
        @if (Model.Any())
        {
            var groups = Model.GroupBy(i => i.Category.Name);

            <div class="col-md-9 col-lg-10 imageShadow">

                <div class="col-md-5 col-lg-5">
                    <img src="@Url.Content("~/Pictures/Restaurant/" + Model.First().MenuCard.RestaurantId + "_" + Model.First().MenuCard.Restaurant.PictureFileName)" class="thumbnail" style="height:200px; width:100%;" onerror="this.onerror = null; this.src = '/Images/restaurant-default.png';">
                </div>

                <div class="col-md-4 col-lg-5">
                    <h3>@Model.First().MenuCard.Restaurant.Name </h3><hr />

                    @{Html.RenderAction("ShowCuisines", "Cuisine", new { restaurantId = ViewBag.restaurantId });}<hr />

                    @Ajax.ActionLink(Resources.Details, "Details", "Restaurant", new { restaurantId = (int)ViewBag.restaurantId }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-md btn-success btn-margin" })
                </div>



            </div>

            foreach (var group in groups)
            {
                <div class="col-md-10 category" id="@group.Key">

                    <div class="text-center">
                        <span class="bg-danger" id="message"></span>
                    </div>

                    <h4>@Html.DisplayFor(model => @group.Key)</h4>

                    @foreach (var item in group)
                    {
                        <table class="table">

                            <tr style="height:50px">

                                <td class="col-sm-10">
                                    @Html.DisplayFor(modelItem => item.Name)<br />
                                    <span style="color:gray">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </span>
                                </td>

                                <td class="col-sm-1">
                                    $
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <td class="col-sm-1">

                                        <a href="@Url.Action("SaveFavorite", "MenuItem", new { id = item.Id, returnUrl = this.Request.RawUrl })" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></a>

                                    </td>
                                }
                            </tr>
                        </table>
                    }
                </div>
            }
        }
    </div>

</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>