﻿@model IList<ToOrder.Core.Entities.OrderDetails>

<div style="" >

    <label>@Resources.Orders# @Html.DisplayFor(model => model.First().OrderId)</label>

    <span class="pull-right">@Html.ValueFor(model => model.First().Order.Date) </span>
    <label class="control-label pull-right" for="@Resources.Date">@Resources.Date: </label>
    <hr />

@if (!Model.Any())
{
    <label>Opps, no details found</label>
}
else
{
    var user = Model.FirstOrDefault().Order.User;
    if(user!=null)
    {
        <label class="control-label" for="@Resources.Name">User @Resources.Name:</label>  <span>@user.FirstName </span><br />
        <label class="control-label" for="@Resources.Mobile"> @Resources.Mobile:</label>  <span>@user.Mobile </span><br />
        <label class="control-label" for="@Resources.Region"> @Resources.Region:</label>  <span>@user.Address.Region </span><br />
    }


    <div>
        <table class="table table-hover" style="margin-top:20px;" >
            <tr>
                <th>
                    @Html.DisplayName(Resources.Name)
                </th>
                <th>
                    @Html.DisplayName(Resources.Price)
                </th>
                <th>
                    @Html.DisplayName(Resources.Qty)
                </th>
                <th class="text-right">
                    @Html.DisplayName("Total")
                </th>
               
               
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItem.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td class="text-right text-right">
                        @((item.Qty * item.MenuItem.Price))
                    </td>
                    
                </tr>
            }
            <tfoot>
                <tr>
                    <th colspan="3" class="text-right">@Resources.GrossAmount</th>
                    <td class="text-right">@(Model.First().Order.GrossAmount)</td>
                </tr>

                <tr>
                    <th colspan="3" class="text-right">@Resources.Tax</th>
                    <td class="text-right">@(Model.First().Order.Tax)</td>
                </tr>

                <tr>
                    <th colspan="3" class="text-right">@Resources.NetAmount</th>
                    <th class="text-right">@(Model.First().Order.NetAmount)</th>
                </tr>


            </tfoot>
        </table>
    </div>


    


}

    @*<div class="form-horizontal">

        

            </div>
            <div style="margin-left:20px;">
                @if (Model.Any())
                {
                    foreach (var user in Model.Select(i => i.Order.User).Distinct())
                    {
                    }
                }
            </div>
        </div>
 

        <div class="col-md-3 col-md-offset-9">
            <div class="col-md-offset-3">
                <label class="control-label" for="@Resources.GrossAmount">@Resources.GrossAmount:</label>  <span>@Html.ValueFor(model => model.First().Order.GrossAmount) </span><br /> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <label class="control-label" for="@Resources.Tax">@Resources.Tax:</label>&nbsp; &nbsp; <span>@Html.ValueFor(model => model.First().Order.Tax) </span><br />&nbsp; &nbsp;
                <label class="control-label" for="@Resources.NetAmount">@Resources.NetAmount:</label>  <span>@Html.ValueFor(model => model.First().Order.NetAmount) </span><br />
                <hr />
            </div>
        </div>*@

    @*</div>*@
</div>
