﻿@model ToOrder.Core.Entities.Restaurant

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Zoom)
        @Html.HiddenFor(model => model.CreationDate)

        <div class="section-title">
            <span class="glyphicon glyphicon-log-in"></span> @Html.LabelFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="section-title">
            <span class="glyphicon glyphicon-map-marker"></span><span style="margin-left:5px">@Html.LabelFor(model => model.Address)</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.Street, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address.Locality, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address.Locality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Locality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address.Region, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address.Region, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Region, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address.Country, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="section-title">
            <span class="glyphicon glyphicon-phone-alt"></span><span style="margin-left:5px">@Html.LabelFor(model => model.Contact)</span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Contact.Telephone, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Contact.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact.Telephone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Contact.FaxNumber, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Contact.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact.FaxNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Contact.Email, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Contact.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Contact.Website, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Contact.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="section-title">
            <span class="glyphicon glyphicon-leaf"></span><span style="margin-left:5px"><label>@Resources.Other</label> </span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="Status">Status</label>
            <div class="col-md-9">
                @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="Budget">Budget</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSponsored, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsSponsored)
                    @Html.ValidationMessageFor(model => model.IsSponsored, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group hidden">
            <label class="control-label col-md-3" for="Latitude">Latitude</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group hidden">
            <label class="control-label col-md-3" for="Longitude">Longitude</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PictureFileName, new { @class = "control-label col-md-3" })
            @Html.HiddenFor(model => model.PictureFileName)
            <div class="col-md-9">
                <input type="file" name="uploadFile" id="uploadFile" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 text-right"> @Resources.Preview:</label>
            <div class="col-md-9">
                <img src="#" id="uploadImage" class="thumbnail" width="120" height="120" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                @{string saveText = ViewContext.RouteData.GetRequiredString("action") == "Edit" ? Resources.Save : Resources.SaveNext; }
                <input type="submit" value="@saveText" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

