﻿@using ToOrder.Localization

@model ToOrder.Core.Entities.Restaurant

@{
    ViewBag.Title = "Create";
}

@section pageHeader{
    <h5>@Resources.Add Restaurant</h5>
}


<div class="row section">
    <div class="row">
        <div class="col-md-5">
            @{Html.RenderPartial("AddEditPartial", Model);}
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {

            @if(!string.IsNullOrWhiteSpace(Model.PictureFileName))
            {

                <Text>

            $('#uploadImage').attr('src', '@Url.Content("~/Pictures/Restaurant/" + Model.Id + "_" + Model.PictureFileName )');

            </Text>
            }

            $("#uploadFile").change(function () {

                var imgPath = $(this)[0].value;

                var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();

                if (extn == "png" || extn == "jpg") {
                    if (typeof (FileReader) != "undefined") {

                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $('#uploadImage').attr('src', e.target.result);
                        }

                        reader.readAsDataURL($(this)[0].files[0]);

                    } else {
                        alert("This browser does not support FileReader.");
                    }
                } else {
                    alert("Pls select only images");
                }
            });

        });

    </script>
}