﻿@model ToOrder.Core.Entities.Restaurant
@{
    ViewBag.Title = "Dashboard";
}

@section pageHeader{
  <h5 class="text-uppercase">@Resources.Dashboard</h5>
}
@section Scripts {

    <script>


        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2ordr", width: "auto" });

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessOrders(data) {
            $("#ajaxDialog").dialog("close");
            $("#ajaxDialog").dialog("close");
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

        function handleSuccessRestaurant(data) {

            $("#ajaxDialog").dialog("close");
        };
    </script>
}

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            @{Html.RenderAction("OrdersToday", "Order", new { area = "Admin" });}
        </div>
        <div class="col-md-6">
            @{Html.RenderAction("RestaurantsToday", "Order", new { area = "Admin" });}
        </div>
    </div>
</div>


