﻿@model ToOrder.Core.Entities.Restaurant

@{
    ViewBag.Title = "Edit";
}

@section pageHeader{
    <h5>Restaurant</h5>
}


<div class="row section">
    <div class="row">
        <div class="col-md-5">
            @{Html.RenderPartial("AddEditPartial", Model);}
        </div>
        <div class="col-md-7">
            <div id="restaurantCuisinesContainer" class="minHeight100">
                @{Html.RenderAction("Index", "RestaurantCuisine", new { restaurantId = Model.Id });}
            </div>
            <div id="restaurantDinningTableContainer" class="minHeight100">
                @{Html.RenderAction("Index", "RestaurantDinningTable", new { restaurantId = Model.Id });}
            </div>
            <div id="restaurantMenuCardContainer" class="minHeight100">
                @{Html.RenderAction("Index", "RestaurantMenuCard", new { restaurantId = Model.Id });}
            </div>
            <div>
                @{Html.RenderPartial("GoogleMapPartial", Model);}
            </div>
        </div>
    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>

@section Scripts {

    <script>
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2ordr", width: "auto" });

            @if(!string.IsNullOrWhiteSpace(Model.PictureFileName))
            {

                <Text>

            $('#uploadImage').attr('src', '@Url.Content("~/Pictures/Restaurant/" + Model.Id + "_" + Model.PictureFileName )');

            </Text>
            }
            
            $("#uploadFile").change(function () {

                var imgPath = $(this)[0].value;

                var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();

                if (extn == "png" || extn == "jpg") {
                    if (typeof (FileReader) != "undefined") {

                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $('#uploadImage').attr('src', e.target.result);
                        }

                        reader.readAsDataURL($(this)[0].files[0]);

                    } else {
                        alert("This browser does not support FileReader.");
                    }
                } else {
                    alert("Pls select only images");
                }
            });

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessRestaurantCuisines(data) {

            $("#restaurantCuisinesContainer").html(data);
            $("#ajaxDialog").dialog("close");
        };
        function handleSuccessRestaurantdinningtable(data) {

            $("#restaurantDinningTableContainer").html(data);
            $("#ajaxDialog").dialog("close");
        };


        function handleSuccessRestaurantMenuCard(data) {

            $("#restaurantMenuCardContainer").html(data);
            $("#ajaxDialog").dialog("close");
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

    </script>
}
