﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Restaurant>

@{
    ViewBag.Title = "Index";
}

@section pageHeader{
    <h5>Restaurants</h5>
}

<div class="row section">

    <div class="col-md-6">
        @using (Html.BeginForm("Search", "Restaurant", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label for="restaurantName" class="col-md-3 control-label">@Resources.Name</label>
                <div class="col-md-9">
                    <input type="text" name="restaurant" class="form-control" id="restaurantName" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="cuisineName" class="col-md-3 control-label">Cuisine</label>
                <div class="col-md-9">
                    <input type="text" name="cuisine" class="form-control" id="cuisineName" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> @Resources.IsSponsored
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> @Resources.Search</button>
                </div>
            </div>
        }
    </div>

</div>


<div class="section">
    <div class="text-right padding-md">
        @Html.ActionLink(Resources.AddNew, "Create", null, new { @class = "btn btn-primary btn-sm" })
    </div>

    <div>
        <table class="table table-hover table-responsive ">
            <tr>
                <th>
                    @Html.DisplayName(Resources.Name)
                </th>
                <th>
                    @Html.DisplayName(Resources.Locality)
                </th>
                <th>
                    @Html.DisplayName(Resources.Region)
                </th>
                <th>
                    @Html.DisplayName(Resources.Telephone)
                </th>
                <th>
                    @Html.DisplayName("Budget")
                </th>
                <th>
                    @Html.DisplayName(Resources.IsSponsored)
                </th>
                <th>
                    @Html.DisplayName(Resources.PictureFileName)
                </th>
                <th>
                    @Html.DisplayName("Status")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Locality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.Telephone)
                    </td>
                    <td>
                        @{string budget = new String('$', item.Budget);}
                        @budget
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSponsored)
                    </td>
                    <td>
                        <img src="@Url.Content( "~/Pictures/Restaurant/" + item.Id + "_" + item.PictureFileName)" class="img-rounded" width="120" height="120" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
                    </td>
                    <td>
                        @if (item.Status == ToOrder.Core.Entities.RestaurantStatus.Active)
                        {
                            <span class="label label-success">
                                @Html.DisplayFor(modelItem => item.Status)
                            </span>
                        }
                        else
                        {
                            if (item.Status == ToOrder.Core.Entities.RestaurantStatus.Pending)
                            {
                                <span class="label label-primary">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            }

                            else
                            {
                                <span class="label label-warning">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </span>
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                        @Html.ActionLink(Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                        @Html.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    </td>
                </tr>
            }

        </table>

    </div>

    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page, restaurant = ViewBag.resturantName, cuisine = ViewBag.cuisine }))
    </div>

</div>
