﻿@model ToOrder.Core.Entities.Order
@{
    Layout = null;
}


<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script>
    google.load('visualization', '1', { 'packages': ['corechart'] });
    google.setOnLoadCallback(createChart);
    function createChart() {
        $.ajax({
            url: '@Url.Action("GetBarGraphData", "Order")',
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json',
            success: function (orders) {
               
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('string', 'Last Seven Days');
                dataTable.addColumn('number', 'Total Orders');
                dataTable.addColumn({ type: 'number', role: 'annotation' });
                for (var i = 0; i < orders.length; i++) {
                    var value = orders[i].Date;
                    var dt = new Date(parseInt(value.substring(6, value.length - 2)));
                    var dtString = dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                    var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'];
                    dataTable.addRow([days[dt.getDay()], orders[i].GrossAmount, orders[i].GrossAmount], 'opacity: 0.9');
                }

              
                var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
                var options = {
                    height: 350, animation: {
                        duration: 1000,
                        easing: 'out',
                        startup: true
                    },
                    interpolateNulls: true,
                    colors: ['#FF9900'],
                    vAxis: { title: "@Html.Raw(Resources.TotalOrderAmount)" },
                    hAxis: {
                        showTextEvery: dtString,
                        title: "@Resources.Last7Days",
                        colors: ['#FF9900']
                    },
                 
                    is3D: true, title: '@Resources.OrderSummaryweekly', tooltip: { isHTML: true }
                };
                chart.draw(dataTable, options);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var obj = JSON.parse(xhr.responseText);
            }
        });
    }
</script>
<div  id="chart">
</div>