﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Order>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script>
        $('#ordertable tr:not(:first-child)  td:not(:last-child)').click(function (event) {

            var orderId = $(this).parents("tr").children("td:first").text();

            $.ajax({
                type: "GET",
                url: "@Url.Action("Details", "OrderDetail")",
                data: { orderId: orderId },
                cache: false,
                success: function (response) {
                    OnSuccess(response)
                },
                failure: function (response) {
                    alert('2Oops! something went wrong, failure: ' + response.d);
                },
                error: function (response) {
                    if (response.statusText == 'abort') {
                        return;
                    }
                    alert('4Oops! something went wrong, error: ' + response);
                }
            });
        });

        function OnSuccess(data) {
            $("#showDetailOrder").html(data);
        }

        function handleSuccessRestaurantSearch(data) {
            OnSuccess(data);
        };

        function handleError(ajaxContext) {
            alert("error");
        };

    </script>
}

@section pageHeader{
    <h5>@ViewBag.Header</h5>
}

<div>
    <div class="card" id="ordertable">

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName(Resources.OrderId)
                </th>
                <th>
                    @Html.DisplayName(Resources.CreationDate)
                </th>
                <th>
                    @Html.DisplayName(Resources.User)
                </th>
                <th>
                    @Html.DisplayName(Resources.GrossAmount)
                </th>

                <th>
                    @Html.DisplayName(Resources.Tax)
                </th>
                <th>
                    @Html.DisplayName(Resources.NetAmount)
                </th>
                <th>
                    @Html.DisplayName(Resources.PaymentId)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrossAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentId)
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id }) |
                        @Html.ActionLink(Resources.Delete, "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <div class="text-right ">
            @Html.PagedListPager(Model, page => Url.Action("Search", new { page, order = ViewBag.order }))
        </div>
    </div>
    <div class="card" style="margin-top:20px;">

        <div id="showDetailOrder" class="padding-md">
            Click on order to see its details
        </div>
    </div>
</div>