﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Order>
@{
    Layout = null;
}


<div style="background-color:white">
    <h4 >@Resources.LatestOrders</h4>
    <div style="height:250px">
        <table class="table table-hover table-responsive  tablesorter" id="LatestTable">

            <tr>
                <th>
                    @Html.DisplayName(Resources.CreationDate)
                </th>
                <th>
                    @Html.DisplayName(Resources.OrderId)
                </th>
                <th>
                    @Html.DisplayName(Resources.OrderStatus)
                </th>
                <th>
                    @Html.DisplayName(Resources.Amount)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.IsServed)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.GrossAmount)
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("SearchUnservedOrders", new { page, order = ViewBag.order }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "LatestTable" }))
    </div>
</div>