﻿@{
    Layout = null;
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        $.ajax({
            url: '@Url.Action("GetLineGraphData", "Order")',
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json',
            success: function (orders) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');
                data.addColumn('number', 'TotalOrders');
                for (var i = 0; i < orders.length; i++) {
                    var value = orders[i].Date;
                    var dt = new Date(parseInt(value.substring(6, value.length - 2)));
                    var dtString = dt.getDate() + "/" + (dt.getMonth() + 1);
                    data.addRow([dtString, orders[i].GrossAmount]);
                }
                var options = {
                    interpolateNulls: true,
                    width: 800, height: 350, animation: {
                        duration: 1000,
                        easing: 'out',
                        startup: true
                    }, is3D: true, legend: 'none',
                    colors: ['#FF9900'],
                    vAxis: { title: "@Html.Raw(Resources.TotalOrderAmount)" },
                    hAxis: {
                        showTextEvery: dtString,
                        title: "@Resources.Last30Days",
                        slantedText: true
                    },
                    title: '@Html.Raw(Resources.OrderSummaryMonthly)',
                    pointSize: 30,
                    series: [{ color: '#FF9900', pointSize: 0 }, { color: 'red', lineWidth: 0 }, { color: 'blue', lineWidth: 0 }]
                };

                var chart = new google.visualization.LineChart(document.getElementById('linechart'));
                chart.draw(data, options);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
                var obj = JSON.parse(xhr.responseText);
            }
        });
    }

</script>
<div id="linechart">

</div>
