﻿@model ToOrder.Core.Entities.User
@{
    ViewBag.Title = "PasswordRecovery";
}

<div class="container">
    <div class="text-center well well-lg">
        <span style="font-size:48px;" class="glyphicon glyphicon-ok-sign text-success"></span>
        <h4 style="margin-top:5px;" class="text-success">Hello @Model.FirstName @Model.LastName !</h4>

        <br />

        <p>
            <label> @Resources.PasswordRecovaryEmail.<br /> @Resources.PasswordRecoveryInitiate.</label><br />
            </p>

            <br />
            <h4>E-mail : @Model.Email</h4>

            <br />
            <br />
        </div>
    </div>

