﻿@model ToOrder.Web.ViewModels.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <hr />

            <div class="signInContainer">
                <h2><strong>@Resources.ResetYourPassword</strong></h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Email)
                <div style="font-family:Calibri" class="container form-group">
                    @Resources.ResetPaswordForAccount. @Model.Email.<br />
                    @Resources.InsertNewPassword.
                </div>
                <div class="form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })

                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })

                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" value="@Resources.ResetPassword" class="btn btn-default btn-success" />
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>

