﻿@model ToOrder.Core.Entities.User

@{
    ViewBag.Title = "SignIn";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">



            <div class="signInContainer">

                <h2 class="text-center">@Resources.WelcomeTo2Order</h2>
                <hr />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                @Html.CheckBox("RememberMe", true)
                                <span> @Resources.RememberMe</span>
                            </div>
                        </div>

                        <br />

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <input type="submit" value="@Resources.SignIn" class="btn btn-default btn-success" /> &nbsp; &nbsp;
                                @Html.ActionLink(Resources.ForgotPassword, "ForgotPassword")
                            </div>
                        </div>
                    </div>

                }

                <br />

                <div class="signUp">
                    <h4>@Resources.NotMember</h4>
                    <span>@Resources.JoinQuickly.</span><br /><br />
                    @Html.ActionLink(Resources.SignUpNow, "Create", "User", null, new { @class = "btn btn-success  " })
                </div>


            </div>
        </div>
    </div>
</div>