﻿@model ToOrder.Core.Entities.Rating

@{
    ViewBag.Title = "Delete";
}

<style>
    span.ratingStars {
        color: orange;
    }

        span.ratingStars .disabled {
            color: grey;
        }
</style>

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurantRating", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <h4>
                        @Resources.DeleteConfirmation?
                    </h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9 col-md-offset-2">
                    <div class="col-md-offset-2">
                        <label class="control-label" for="@Resources.Name">Restaurant @Resources.Name:</label>  <span>@Html.ValueFor(model => model.Restaurant.Name) </span><br />
                        <label class="control-label" for="@Resources.Title">@Resources.Title:</label>  <span>@Html.ValueFor(model => model.Title) </span><br />
                        <label class="control-label" for="@Resources.Description">@Resources.Description:</label>  <span>@Html.ValueFor(model => model.Description) </span><br />
                        <label class="control-label" for="@Resources.Rating">@Resources.Rating:</label>
                        <span class="ratingStars">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= Model.Ratings)
                                {
                                    <i class="glyphicon glyphicon-star"></i>
                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-star disabled"></i>
                                }
                            }
                        </span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="col-md-offset-1">
                        <button value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> @Resources.Yes </button>
                        <input type="button" value="@Resources.No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
