﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Rating>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script>
        $(function () {

            $(".tablesorter").tablesorter({
                sortReset: true,
                sortRestart: true,
                sortInitialOrder: 'desc',
                headers: { 7: { sorter: false } }

            });
        });

        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "Rating", width: "auto" });

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessRestaurantRating(data) {

            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "Rating")";
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };
    </script>

}
<style>
    td.ratingStars {
        color: orange;
    }

        td.ratingStars .disabled {
            color: grey;
        }
</style>

@section pageHeader{
    <h5>@Resources.Rating</h5>
}

<div class="row section">

    <div class="col-md-6">
        @using (Html.BeginForm("Search", "Rating", FormMethod.Get, new { @class = "form-horizontal" }))
        {

            <div class="form-group">
                <label for="restaurantName" class="col-md-3 control-label">Restaurant @Resources.Name</label>
                <div class="col-md-9">
                    <input type="text" name="restaurant" class="form-control" id="restaurant" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> @Resources.Search</button>
                </div>
            </div>
        }
    </div>

</div>

<div class="section">

    <div>
        <table class="table table-hover table-responsive  tablesorter">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName(Resources.Date)
                    </th>
                    <th>
                        @Html.DisplayName("Restaurant")
                    </th>
                    <th>
                        @Html.DisplayName(Resources.Title)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.Description)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.Rating)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.Blocked)
                    </th>
                    <th>
                        @Resources.User @Resources.Email
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restaurant.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="ratingStars">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= item.Ratings)
                            {
                                <i class="glyphicon glyphicon-star"></i>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-star disabled"></i>
                            }
                        }
                        <span style="display:none">@item.Ratings</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Blocked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-xs" })
                        @if (item.Blocked == true)
                        {
                            @Html.ActionLink(Resources.Block, "Update", new { id = item.Id }, new { @class = "btn btn-default btn-xs disabled" })
                        }
                        else
                        {
                            @Html.ActionLink(Resources.Block, "Update", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                        }
                    </td>
                </tr>
            }

        </table>

    </div>

    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page, restaurant = ViewBag.restaurant }))
    </div>

</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:200px;"></div>
