﻿@model ToOrder.Core.Entities.UserCard
@{
    ViewBag.Title = "Create";
}

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "myAccountContentWrapper" }))
{
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-md-7">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading">
                        <strong>Card Details</strong>
                        <img class="img-responsive pull-right" src="~/Content/Images/card-icon.png" style="height:30px">
                    </div>
                    <div class="form-horizontal padding-sm">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CardExpirydate, new { id = "CardExpirydate" })
                        <div class="form-group padding-sm">
                            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control CardNum", placeholder = "Valid Card Number" })
                                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group padding-sm">
                            @Html.LabelFor(model => model.CardExpirydate, htmlAttributes: new { @class = "contrl-label col-md-2" })

                            @if (Model.CardExpirydate != null)
                            {
                                <div class="col-xs-3">

                                    @Html.DropDownList("Months", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString(), Selected = (x == Model.CardExpirydate.Value.Month) }), "Expiry Month", new { @class = "form-control" })
                                </div>
                                <div class="col-xs-3">
                                    @Html.DropDownList("Years", Enumerable.Range(DateTime.Now.Year, 15).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString(), Selected = (x == Model.CardExpirydate.Value.Year) }), "Expiry Year", new { @class = "form-control" })

                                </div>
                            }
                            else
                            {
                                <div class="col-xs-3">

                                    @Html.DropDownList("Months", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }), "Expiry Month", new { @class = "form-control" })
                                </div>
                                <div class="col-xs-3">
                                    @Html.DropDownList("Years", Enumerable.Range(DateTime.Now.Year, 15).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }), "Expiry Year", new { @class = "form-control" })

                                </div>
                            }
                            @Html.ValidationMessageFor(model => model.CardExpirydate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group padding-sm">
                            @Html.LabelFor(model => model.CardPIN, htmlAttributes: new { @class = "contrl-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CardPIN, new { htmlAttributes = new { @class = "form-control", placeholder = "Security Code" } })
                                @Html.ValidationMessageFor(model => model.CardPIN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group padding-sm">
                            @Html.LabelFor(model => model.CardName, htmlAttributes: new { @class = "contrl-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CardName, new { htmlAttributes = new { @class = "form-control", placeholder = "Card Holder's Name" } })
                                @Html.ValidationMessageFor(model => model.CardName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-success" id="save" onclick='$("#CardExpirydate").val(ExpiryDate());' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}