﻿@model ToOrder.Core.Entities.UserCard
@{
    ViewBag.Title = "Delete";
}

<div>

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessUserCard", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-md-6">
                    <h4>Are you sure you want to delete Card @Html.ValueFor(model => model.CardNumber)?</h4> <br /><br />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> Yes </button>
                    <input type="button" value="No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }
</div>

