﻿@model IEnumerable<ToOrder.Core.Entities.UserCard>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h3><span class="glyphicon glyphicon-credit-card text-danger"></span>  Cards</h3>
    @Ajax.ActionLink(Resources.Add, "Create", "Cards", new { id = 1 }, new AjaxOptions { UpdateTargetId = "myAccountContentWrapper", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-md btn-success col-md-offset-8" })
</div>
<hr />


@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "myAccountContentWrapper" }))
{
    @Html.AntiForgeryToken()
    foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-5">
            <div class="modal-content boxshadow left-container credit-card">
                <button type="button" onclick="DeleteCard(@item.Id)" class="close col-md-1" data-dismiss="modal">&times;</button>
                <div class="container padding-md">
                    <h4>@item.CardName.ToUpper()</h4>
                </div>
                <div class="container" style="padding-top:2.5em">
                    @if (item.CardNumber.Length < 14)
                    {
                        <h5>@item.CardNumber.Insert(4, "-").Insert(9, "-")</h5>
                    }
                    @if (item.CardNumber.Length > 14)
                    {
                        <h5>@item.CardNumber.Insert(4, "-").Insert(9, "-").Insert(14, "-")</h5>
                    }
                </div>
                <div class="container">
                    @item.CardExpirydate.Value.ToString("MM")/@item.CardExpirydate.Value.ToString("yy")
                </div>
            </div>

        </div>
    }
}
