﻿@{
    ViewBag.Title = "About";
}


<div class="container">

    <div>
        @{Html.RenderAction("ShowCarousel", "Banner");}
    </div>

    <div class="text-center">
        <h1> @ViewBag.Title 2ordr</h1>
        <h3 class="text-success">2ordr is an all-in-one restaurant management system.</h3>

        <p> We’re the partially brown, partially golden, never totally finished piece of 2ordr. Our software is never going to be perfect in our minds. There will always be new features we can offer our customers, and a million ways we can continue to innovate and improve. We always strive to go above and beyond so any foodservice establishment looking to improve their operational efficiency.</p>
        <p>2ordr is world most convenient online food ordering site. It connects people with thw best restaurants around them. Delevering in cities , 2ordr has the widest rach in denmark</p>
        <p>We belive food is a pleasure and food ordering should be fast and definitely a fun experience. Ordering with 2ordr is as very easy way</p>
    </div>

</div>
