﻿@{
    ViewBag.Title = "Help";
}

<style type="text/css">
    ul.accordion label {
        background: url("//marketing.foodpanda.pk/images/nl/contact/arrow-right.png?v=1413379213") no-repeat scroll left center / 12px auto rgba(0, 0, 0, 0);
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 20px;
    }

        ul.accordion label + input[type='radio'] {
            display: none;
        }

    ul.accordion li {
        border-bottom: 1px solid #dddddd;
        list-style: none outside none;
    }

    ul.accordion label {
        display: block;
        padding: 10px;
        padding-left: 20px;
    }

        ul.accordion label:hover {
            cursor: pointer;
        }

    ul.accordion div.content {
        background: none repeat scroll 0 0 #f7f7f7;
        display: none;
        margin-left: -20px;
        overflow: hidden;
        padding: 10px 30px;
    }

    ul.accordion label + input[type='radio']:checked + div.content {
        display: block;
    }

    ul.accordion label:hover {
        padding-left: 15px;
    }

    h2.category {
        background: none repeat scroll 0 0 #f5f5f5;
        color: #585858;
        font-weight: 400;
        padding: 10px 30px;
    }

    .box {
        background: #FFF;
    }
</style>


<div class="container">

    <div>
        @{Html.RenderAction("ShowCarousel", "Banner");}
    </div>

    <h1 class="text-center"> @ViewBag.Title </h1>

    <div class="box">
        <div class="titlewrapper">
            <h2>
                FAQs
            </h2>
        </div>
        <h2 class="category">
            Top Questions
        </h2>
        <ul class="accordion">
            <li>
                <label for="cp-1">Where is my order? </label> <input id="cp-1" name="a" type="radio">
                <div class="content">
                    <p>
                        After you place your order, we send it directly to the restaurant, which starts preparing it immediately.<br>
                        <br>
                        Our restaurants do everything they can to get your food delivered as quickly as possible. However, sometimes restaurants receive very large amount of orders, - this unfortunately might cause delays.<br>
                        <br>
                        If the amount of time you’ve waited has exceeded the estimated delivery time, you can contact us and we’ll look into what’s going on.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-2">I have a voucher code. How can I use it? </label> <input id="cp-2" name="a" type="radio">
                <div class="content">
                    <p>
                        If you have a voucher code, you can redeem it after selecting a restaurant and adding items to your basket. You will see a field to enter your voucher code on the order overview page. If the voucher is valid, the discount on your order will be calculated immediately. Only one voucher can be used per order.<br>
                        <br>
                        If your voucher code does not work, feel free to contact us and we’ll take a look.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-3">Are there any discounts available at 2ordr.in right now?</label> <input id="cp-3" name="a" type="radio">
                <div class="content">
                    <p>
                        2ordr.in offers many different discounts at restaurants. If you want to view them all, have a look at: <a href="http://www.2ordr.in/restaurants/index/foodcharacteristics/with-discount-only">Restaurants with Discounts </a>
                    </p>
                </div>
            </li>
        </ul>
        <h2 class="category">
            Ordering
        </h2>
        <ul class="accordion">
            <li>
                <label for="cp-4">How to order online at 2ordr? </label> <input id="cp-4" name="a" type="radio">
                <div class="content">
                    <p>
                        It is really easy, as easy as 1, 2, 3:<br>
                        <br>
                        1. <i>Tell us where you are</i>: Enter your location so that we can show you which restaurants deliver to you.<br>
                        2. <i>Choose what you would like</i>: Pick a restaurant and select items you’d like to order. You can search by restaurant name, cuisine type, dish name or by keyword.<br>
                        3. <i>Checkout</i>: Enter your exact delivery address, payment method and your phone number. Always make sure that you enter the correct phone number to help us contact you regarding your order, if needed.<br>
                        <br>
                        Now sit back, relax, and we’ll get your food delivered to your doorstep.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-5">I need to cancel or change my order! How can I do this? </label> <input id="cp-5" name="a" type="radio">
                <div class="content">
                    <p>
                        Please give us a call as soon as possible, we can let the restaurant know before it starts preparing your order.<br>
                        <br>
                        With regards to any refund of a payment you have made online, please contact 2ordr.in and not the restaurant.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-6">Do I have to create an account to place an order?</label> <input id="cp-6" name="a" type="radio">
                <div class="content">
                    <p>
                        Creating an account is not mandatory. You can order using our guest checkout without having to sign up. We make sure that ordering food online at 2ordr is quick and fuss-free. After placing your order, you will have the option of creating an account.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-7">How long does it take for my order to get delivered? </label> <input id="cp-7" name="a" type="radio">
                <div class="content">
                    <p>
                        Delivery time varies from restaurant to restaurant. It also depends on the number of orders that the restaurant has to prepare and on the distance between the restaurant and your delivery address.<br>
                        <br>
                        You can see the estimated delivery time for each restaurant in your area on our website. After placing an order, a more precise delivery time will be communicated to you by SMS.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-8">What are the delivery costs? </label> <input id="cp-8" name="a" type="radio">
                <div class="content">
                    <p>
                        Delivery costs, just like delivery time, are determined by restaurants individually. Usually the ones closest to you will charge a small delivery fee. If a delivery driver has to travel a long way, they may charge a little extra for the service. There are many restaurants offering free delivery as well. You can easily check the delivery cost for each restaurant whilst browsing our website.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-9">How can I pay for my order? </label> <input id="cp-9" name="a" type="radio">
                <div class="content">
                    <p>
                        All our restaurants accept cash on delivery. In addition, there are various online payment methods available. You can check which payment methods are accepted at each restaurant by going to the ‘Info’ tab on the restaurant’s page.<br>
                        <br>
                        <b>Cash on Delivery</b><br>
                        <br>
                        Select ‘Cash on Delivery’ on the checkout page and pay the driver at your doorstep when you receive your order.<br>
                        <br>
                        <b>Credit Card</b><br>
                        <br>
                        Select ‘Credit Card’ on the checkout page. After placing your order you will be redirected to the secure payment page of our payment partner, where you can follow the instructions. Once the payment is confirmed, the order will be transmitted to the restaurant.<br>
                        <br>
                        <b>Online Banking</b><br>
                        <br>
                        Select ‘Online Banking’ and your bank on the checkout page. After placing your order you will be redirected to the secure payment page of our payment partner, where you can follow the instructions. Once the payment is confirmed, the order will be transmitted to the restaurant.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-10">Why is ordering online better than ordering by phone? </label> <input id="cp-10" name="a" type="radio">
                <div class="content">
                    <p>
                        Online ordering at 2ordr provides several advantages over telephone ordering.<br>
                        <br>
                        1. <i>Discover</i>: We offer a huge choice of restaurants, and we have their menus online so you don’t have to collect menus for individual restaurants or stick to just one of them. Every day you can discover new restaurants and new tastes.<br>
                        2. <i>Take your time</i>: You have as much time as you need to decide what to eat today, instead of listening to someone read out the entire menu to you and making a decision on the spot.<br>
                        3. <i>Know what you’re getting</i>: We help you make the right choice by providing customer reviews and ratings.<br>
                        4. <i>Convenient payment</i>: If you order at 2ordr.in, you’re not limited to paying by cash on delivery. You can easily and safely pay online using online banking or your credit card.<br>
                        5. You can view details of all your past orders and easily re-order.
                    </p>
                </div>
            </li>
        </ul>
        <h2 class="category">
            How it works
        </h2>
        <ul class="accordion">
            <li>
                <label for="cp-11">What is 2ordr? </label> <input id="cp-11" name="a" type="radio">
                <div class="content">
                    <p>
                        2ordr.in is a convenient online food ordering website that connects users with thousands of local restaurants. Customers can browse through numerous menus and place orders for delivery or take-away at the best price.<br>
                        <br>
                        At 2ordr.in, we believe ordering food online should be fuss-free, fast and definitely fun. With just a few clicks you can order from a wide variety of delicious cuisines online.<br>
                        <br>
                        2ordr provides you with restaurant menus, customer reviews and more for over 4000 restaurants spread over 40 cities.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-12">How can I see all restaurants? </label> <input id="cp-12" name="a" type="radio">
                <div class="content">
                    <p>
                        If you want to view all restaurants, just go to <a href="http://www.2ordr.in/restaurants">Restaurant List</a>. Then enter your location to check which restaurants can deliver to you.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-13">What are your opening hours? </label> <input id="cp-13" name="a" type="radio">
                <div class="content">
                    <p>
                        2ordr.in is open from 11 am to 11 pm from Monday to Sunday.<br>
                        <br>
                        During closing hours you can browse through restaurants and place an order for later.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-14">Why am I getting a message that a restaurant does not deliver to me? </label> <input id="cp-14" name="a" type="radio">
                <div class="content">
                    <p>
                        The delivery area depends on individual restaurants and 2ordr.in has no influence on this. If you enter your delivery address on the homepage, then you can browse through all the restaurants that can deliver to you.
                    </p>
                </div>
            </li>
        </ul>
        <h2 class="category">
            My Account
        </h2>
        <ul class="accordion">
            <li>
                <label for="cp-15">I don’t remember my password </label> <input id="cp-15" name="a" type="radio">
                <div class="content">
                    <p>
                        You have already created an account but you can't remember your password? Click on 'Login/Register' at the top of the page. Then click on 'Forgot Password?'. Fill out your email address and a password recovery link will be sent to you by email.
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-16">What are the advantages of an account at 2ordr.in? </label> <input id="cp-16" name="a" type="radio">
                <div class="content">
                    <p>
                        You are not obliged to create an account, but it is very handy.<br>
                        <br>
                        There are definitely a few advantages of signing up:<br>
                        <br>
                        1. Your previous delivery addresses will be saved so that you don't have to enter them all over again on your next order.<br>
                        2. You can track previous orders.<br>
                        3. You can quickly make re-orders.<br>
                        <br>
                        There are many more advantages... register with us and discover them!
                    </p>
                </div>
            </li>
            <li>
                <label for="cp-17">How can I create an account at 2ordr.in? </label> <input id="cp-17" name="a" type="radio">
                <div class="content">
                    <p>
                        Click on 'Login/Register' at the top of the page. Then fill out your information in the ‘Create an account’ section and click the ‘Register’ button. You can also create an account directly after placing an order. Your delivery address and the order details will then be saved in your account.
                    </p>
                </div>
            </li>
        </ul>
    </div>


</div>
