﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style>
        .divHeader {
            background-color: #EFF8FF;
        }

        .p1 {
            margin-left: 100px;
        }

        .carouselHeight {
            height: 280px;
            width: 730px;
        }

        .divh {
            height: 100px;
            background-color: #EFF8FF;
            /*#ed8282;*/
            width: 100%;
        }

        .divbtm {
            height: 350px;
        }
    </style>
</head>

<body>
    <div class="container">
        <header class="glyphicon-header">
            <div class="divHeader">
                <div class="text-left p1">
                    Download our app
                    <input type="submit" value="Android" class="btn btn-primary" />
                    <input type="submit" value="Apple" class="btn btn-primary" />
                </div>
                <div class="text-right">
                    <nav>
                        @Html.ActionLink("Partner With Us", "")
                        @Html.ActionLink("Sign In", "")
                    </nav>
                </div>
            </div>
        </header>
        <div class="table-bordered">
            <div class="input-group divh table-bordered">
                <h2 class="p1" style="text-align:left;float:left"> 2Ordr</h2>

                <input type="text" class="form-control" placeholder="search restaurant" style="float:right">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                </div>

            </div>

            <div id="imgcarousel" class="carousel slide" data-interval="2000" data-ride="carousel" style="width:730px;height:280px; margin-left:230px">
                <ol class="carousel-indicators">
                    <li data-target="#imgcarousel" data-slide="0" class="active"></li>
                    <li data-target="#imgcarousel" data-slide="1"></li>
                    <li data-target="#imgcarousel" data-slide="2"></li>
                    <li data-target="#imgcarousel" data-slide="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active carouselHeight">
                        <img src="~/Images/1.jpg" alt="my first image" class="img-responsive" style="height:280px;width:780px" />
                    </div>
                    <div class="item carouselHeight ">
                        <img src="~/Images/2.jpg" alt="my second image" class="img-responsive" style="height:280px;width:780px" />
                    </div>
                    <div class="item carouselHeight ">
                        <img src="~/Images/3.jpg" alt="my third image" class="img-responsive" style="height:280px;width:780px" />
                    </div>
                    <div class="item carouselHeight ">
                        <img src="~/Images/4.jpg" alt="my forth image" class="img-responsive" style="height:280px;width:780px" />
                    </div>
                    <div class="item  carouselHeight">
                        <img src="~/Images/5.jpg" alt="my fifth image" class="img-responsive" style="height:280px;width:780px" />
                    </div>
                </div>
                <a class="left carousel-control" href="#imgcarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#imgcarousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

            <div class="divbtm">
                <div class="row">
                    <div class="col-md-1 "></div>
                    <div class="col-md-2 ">

                        <div class="container-fluid" style=" height:150px;overflow:auto">
                            <h4><u>Filters</u></h4>
                            <div class="row">
                                <input type="checkbox" />
                                <label>North Indian</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>Chinese</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>Goan</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>Panjabi</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>Snacks</label>
                            </div>
                        </div>

                        <div class="container-fluid" style="height:140px;overflow:auto">
                            <h4><u>Budget</u></h4>
                            <div class="row">
                                <input type="checkbox" />
                                <label>$$$$$</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>$$$$</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>$$$</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>$$</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" />
                                <label>$</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 table-bordered">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4  ">
                                    <div class="container-fluid table-bordered">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img src="~/Images/1.jpg" class="img-rounded" alt="Cinque Terre" width="82" height="72">
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                    <div class="container-fluid table-bordered">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img src="~/Images/2.jpg" class="img-rounded" alt="Cinque Terre" width="82" height="72">
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class=" container-fluid table-bordered">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img src="~/Images/3.jpg" class="img-rounded" alt="Cinque Terre" width="82" height="72">
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                    <div class="container-fluid table-bordered">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img src="~/Images/4.jpg" class="img-rounded" alt="Cinque Terre" width="82" height="72">
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row" style="height:50px;">
                    <div class="col-md-11 text-right">

                        @Html.ActionLink("About Us", "")|
                        @Html.ActionLink("Contact Us", "")|
                        @Html.ActionLink("Like Us", "")

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
