﻿@model List<ToOrder.Core.Entities.User>

@{
    ViewBag.Title = "2Ordr";
}



@section Scripts{

    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>

    <script src="~/signalr/hubs"></script>

    <script>

        function informServer() {
            var mainHub = $.connection.mainHub;
            mainHub.server.test();
        }

        var mainHub = $.connection.mainHub;
        mainHub.client.testMessage = function (message) {
            alert(message);
        };

        $.connection.hub.start().done(function () {
            //mainHub.server.test();
        });

        $(function () {

            $("#searchBtn").click(function () {
                startSearch();
            });


            $('#searchBox').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#searchBtn').click();
            });
        });


        function startSearch() {
            window.location = "/Restaurant?keywords=" + $('#searchBox').val();
        }

    </script>
}

@section header {
    <div style="padding-right:50px;">

        <div class="input-group">
            <input type="text" id="searchBox" placeholder="@Resources.SearchRestaurants" class="form-control input-sm" />
            <span class="input-group-btn">
                <button type="button" id="searchBtn" value="Search" class="btn btn-default input-sm">@Resources.SearchRestaurants</button>
            </span>
        </div>
    </div>
}

<div id="landingPageContainer">
    <div class="container">

        <div>
            @{Html.RenderAction("ShowCarousel", "Banner");}
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div>
                @{Html.RenderAction("Myfavorites", "MenuItem");}
            </div>
            
            <div>
                @{Html.RenderAction("UserRecentRestaurants", "Order");}
            </div>
        }

        <div>
            @{Html.RenderAction("SponsoredRestaurants", "Restaurant");}
        </div>

        <div>
            @{Html.RenderAction("SearchByCuisine", "Cuisine");}
        </div>

        <div>
            @{Html.RenderAction("GoogleMapRestaurants", "Restaurant");}
        </div>


        @*mobile app section*@
        <div style="margin-left:auto;margin-right:auto;max-width:700px; margin-top:50px; ">
            <div class="left-container">
                <div class="left" style="margin-right:30px;">
                    <img src="~/Content/Images/mobileApp.png" />
                </div>

                <div>
                    <h2 style="text-align:left;padding-top:100px;">@Resources.DownloadOur <span class="text-danger">@Resources.Free</span> @Resources.MobileApp</h2>
                    <button class="btn btn-lg btn-success">Apple Store</button>
                    <button class="btn btn-lg btn-success">Google Play</button>

                </div>
            </div>
        </div>

    </div>

    <div class="footer text-center">
        @Html.ActionLink(Resources.AboutUs, "About", "Home") 
        @Html.ActionLink(Resources.TermsConditions, "TermsCondition", "Home")
        @Html.ActionLink(Resources.PartnerWithUs, "PartnerWithUs", "Home")
        <br />
        <br />
        <label>&#169; Copyright 2017 2ordr</label>

        <br/>
        <h1>Notification testing</h1>
        <button onclick="informServer()">Inform</button>
    </div>

</div>




