﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Ordr</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .margin {
            margin-left: 200px;
            margin-right: 200px;
        }

        .carouselHeight {
            height: 380px;
            width: 730px;
        }

        footer {
            float: right;
            height: 35px;
            margin: 0px 50px 0px 0px;
            color: #000;
            text-align: right;
            padding: 10px 40px;
            width: 300px;
        }

        .rowspace {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid margin">
            <div class="navbar-header">
                <span class="navbar-brand">  Download our app</span>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <button class="btn btn-default navbar-btn">Android</button>
                </li>
                <li>
                    <button class="btn btn-default navbar-btn">Apple</button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="#"><u>Partner with Us</u></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span><u> Sign In</u></a></li>
            </ul>
        </div>
        <div class="table-bordered">
            <div class="container-fluid  margin">
                <div class="row">
                    <div class="navbar-header">
                        <h2><b>2Ordr</b></h2>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <form class="navbar-form">
                            <div class="form-group">
                                <input type="text" class="form-control" size="300" placeholder="Search Restaurant">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid table-bordered">
        <div class="row">
            <div class="col-md-6 col-lg-offset-4">
                <div id="imgcarousel" class="carousel slide" data-interval="2000" data-ride="carousel" style="width:730px;height:380px;">
                    <ol class="carousel-indicators">
                        <li data-target="#imgcarousel" data-slide="0" class="active"></li>
                        <li data-target="#imgcarousel" data-slide="1"></li>
                        <li data-target="#imgcarousel" data-slide="2"></li>
                        <li data-target="#imgcarousel" data-slide="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active carouselHeight">
                            <img src="~/Images/1.jpg" alt="my first image" class="img-responsive" style="height:380px;width:780px" />
                        </div>
                        <div class="item carouselHeight ">
                            <img src="~/Images/2.jpg" alt="my second image" class="img-responsive" style="height:380px;width:780px" />
                        </div>
                        <div class="item carouselHeight ">
                            <img src="~/Images/3.jpg" alt="my third image" class="img-responsive" style="height:380px;width:780px" />
                        </div>
                        <div class="item carouselHeight ">
                            <img src="~/Images/4.jpg" alt="my forth image" class="img-responsive" style="height:380px;width:780px" />
                        </div>
                        <div class="item  carouselHeight">
                            <img src="~/Images/5.jpg" alt="my fifth image" class="img-responsive" style="height:380px;width:780px" />
                        </div>
                    </div>
                    <a class="left carousel-control" href="#imgcarousel" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#imgcarousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-offset-3" style="background-color:lavenderblush;">
                <div class=" container-fluid">
                    <h4>Filters</h4>
                    <h6>Cuisines</h6>
                    <div class="container-fluid table-bordered" style=" height:130px; width:130px; overflow:auto;background-color:white; font-family:Calibri">
                        <div class="row">
                            <input type="checkbox" />
                            <label>North Indian</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>Chinese</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>Goan</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>Panjabi</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>Snacks</label>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <h6>Budget</h6>
                    <div class="container-fluid table-bordered" style="height:130px;width:130px; overflow:auto;background-color:white">
                        <div class="row">
                            <input type="checkbox" />
                            <label>$$$$$</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>$$$$</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>$$$</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>$$</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" />
                            <label>$</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 table-bordered">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4">
                            <div class=" container-fluid table-bordered rowspace">
                                <div class="row rowspace">
                                    <div class="col-sm-3">
                                        <img src="~/Images/1.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
                                    </div>
                                    <div class="col-sm-6" style="margin-left:35px">
                                        <h5><b>Hotel Vivanta Resort</b></h5>
                                        <p>Thai,Goan,Chinese</p>
                                        <hr />
                                        <span class="alert-info">$$$</span>

                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid table-bordered">
                                <div class="row rowspace">
                                    <div class="col-sm-3">
                                        <img src="~/Images/2.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
                                    </div>
                                    <div class="col-sm-7 " style=" margin-left:35px">
                                        <h5><b>Hotel Taj Resort</b></h5>
                                        <p>Panjabi,Snacks</p>
                                        <hr />
                                        <span class="alert-info">$$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class=" container-fluid table-bordered rowspace">
                                <div class="row rowspace">
                                    <div class="col-sm-3">
                                        <img src="~/Images/3.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
                                    </div>
                                    <div class="col-sm-7 " style=" margin-left:35px">
                                        <h5><b>Goa Marriott Resort & Spa</b></h5>
                                        <p>Goan,Snacks</p><hr />
                                        <span class="alert-info">$$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid table-bordered rowspace">
                                <div class="row rowspace">
                                    <div class="col-sm-3">
                                        <img src="~/Images/4.jpg" class="img-rounded" alt="Cinque Terre" width="120" height="120">
                                    </div>
                                    <div class="col-sm-7 " style="margin-left:35px">
                                        <h5><b>Green Park Hotel</b></h5>
                                        <p>
                                            Indian,Chinese
                                        </p><hr />
                                        <span class="alert-info">$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <footer>
            @Html.ActionLink("About Us", "")|
            @Html.ActionLink("Contact Us", "")|
            @Html.ActionLink("Like Us", "")
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
</body>
</html>
