﻿@{
    ViewBag.Title = "Partner With Us";
}

<style type="text/css">
    .orangeBgBtn {
        background-color: #f55831;
        color: #ffffff;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: 3px solid #f55831;
        border-radius: 6px;
        text-decoration: none;
        padding: 6px 70px 6px 70px;
    }

    .seperatorTr {
        height: 22px;
    }
</style>



<div class="container">

    <div>
        @{Html.RenderAction("ShowCarousel", "Banner");}
    </div>

    <h2 class="text-center">@ViewBag.Title </h2>

    <table align="center">
        <tbody>
            <tr>
                <td class="text-center text-success" style=" border-bottom: 1px dashed #999;"><h2>Add your restaurant on 2ordr.in</h2></td>
            </tr>
            <tr>
                <td class="text-center"><h3>Get Listed Today</h3></td>
            </tr>

            <tr>
                <td>
                    <table width="980" align="center" cellpadding="10">
                        <tbody>
                            <tr>
                                <td class="padding-sm"><input id="last_name" name="last_name" type="text" placeholder="Your Name" class="form-control "></td>
                                <td class="padding-sm"><input id="email" name="email" type="text" value="" placeholder="E-mail" class="form-control "></td>
                                <td><input id="phone" name="phone" type="text" placeholder="Phone Number " class="form-control "></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="seperatorTr">
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table width="980" border="0" align="center" cellpadding="10">
                        <tbody>
                            <tr>
                                <td class="padding-sm"><input id="company" name="company" type="text" placeholder="Restaurant's Name" class="form-control "></td>

                                <td class="padding-sm">

                                    <select title="City" class="form-control " placeholder="City ">
                                        <option value="">--City--</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Mumbai">Mumbai</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Delhi">Delhi</option>
                                    </select>
                                </td>

                                <td><input type="text" placeholder="Address " class="form-control "></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="seperatorTr">
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td>
                    <table width="980" border="0" align="center" cellpadding="10">
                        <tbody>
                            <tr>
                                <td>
                                    <textarea rows="5" placeholder="Comments" class="form-control"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="120" border-bottom 1px dashed #747474;">
                    <table width="300" align="center">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <input type="submit" value="submit" id="submitBtn" class="orangeBgBtn">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="120" align="center" style="color:#f55831;"><h1 class="center">Your Benefits as a 2ordr Partner</h1></td>
            </tr>
            <tr>
                <td><img border="0" src="https://asia-public.foodpanda.com/marketing/production/in/images/nl/partner2.jpg?v=1459438060"></td>
            </tr>

            <tr>
                <td height="120" class="h4">Questions? Write to us at <a href="#" style="color:#f55831;">restaurants@2ordr.in</a></td>
            </tr>
        </tbody>
    </table>


</div>

