﻿@{
    ViewBag.Title = "Terms And Condition";
}

<div class="container">

    <div>
        @{Html.RenderAction("ShowCarousel", "Banner");}
    </div>

    <div class="text-center">
        <h1>@ViewBag.Title</h1>
    </div>
    <div>

        <h2 class="text-success"> Introduction</h2>

        <p>These Terms and Condition (“Terms” or “Agreement”) are a contract between you (the Customer) and us (“Unbounce” or “we”). They describe the services provided when you sign up for an account with us, define aspects of our business relationship, and set forth the terms and conditions that apply to your access to and use of the websites, products, and services owned and operated by Unbounce Marketing Solutions Inc. Using our Subscription Services or signing up for a Free Account/Free Plan indicates agreement with, and acceptance of, these Terms.</p>

    </div>
</div>

