﻿/*#region elements*/

body {
    color: #2f2c2c;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    background: #eee;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul {
    list-style: none;
}


h5 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 26px;
    text-transform: capitalize;
    margin: 0px;
}



/*#endregion*/


/*#region commonStyles*/
.bg-yellow {
    background: #fcb03b !important;
}

.txt-light {
    color: white !important;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: none;
    padding: 15px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}

.checkbox {
    margin-left: 0px;
}

/*#endregion*/

/*#region top-navigation*/

.navbar-fixed-top {
    border-bottom: 1px solid #fcb03b;
    margin-bottom: 0;
    min-height: 60px;
    padding: 0 15px;
}

.navbar-right > li > p {
    margin-left: 7px;
    margin-right: 10px;
}

/*#endregion*/



/*#region Sidebar */


.fixed-sidebar-left {
    position: fixed;
    top: 60px;
    left: 0;
    width: 225px;
    margin-left: 0;
    bottom: 0;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.nav li {
    position: relative;
    display: block;
}


.side-nav {
    border: none;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 0;
    margin: 0;
    overflow-y: auto;
    border-right: 1px solid #e5e5e5;
    background-color: #f7f7f9;
}


    .side-nav li {
        width: 100%;
    }

        .side-nav li a {
            color: #5c5c5c;
            width: 100%;
            text-transform: capitalize;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            transition: 0.3s ease;
            display: block;
        }

            .side-nav li a:hover {
                color: orange;
                text-decoration: none;
            }

            .side-nav li a.activeBgColor {
                background-color: #fcb03b !important;
                text-decoration: none;
                color: white;
            }

        .side-nav li > a:not(:only-child):after {
            content: '▾';
            position: absolute;
            right: 10px;
        }

    .side-nav > li > ul {
        display: none;
    }

    .side-nav > li:hover ul {
        display: block;
    }

    .side-nav li ul li {
        padding: 10px 0 0 10px;
    }

        .side-nav li ul li:hover {
            background-color: #eee;
        }

/*#endregion*/


/*#region page-wrapper*/

.page-wrapper {
    margin-left: 225px;
    padding: 60px 15px 59px 15px;
    background: #eee;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0;
}

.heading-bg {
    height: 47px;
    margin: 0 -30px 30px;
    padding: 13px 15px;
}


/*#endregion*/


/*#region table-sorter */



table.tablesorter thead tr th,
table.tablesorter thead tr .header {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

table.tablesorter thead tr .header {
    background-image: url('/Content/images/bg.gif');
}


table.tablesorter thead tr .headerSortUp {
    background-image: url('/Content/images/asc.gif');
}

table.tablesorter thead tr .headerSortDown {
    background-image: url('/Content/images/desc.gif');
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    color: #286090;
}

/*#endregion */


/*
 * Main content
 */


@media (min-width: 768px) {
}

.page-header {
    margin-top: 0px;
    border-bottom: 1px solid #eee;
}


.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.section {
    background-color: #fff;
    border: 1px solid rgb(221, 221, 121);
    border-radius: 4px;
    padding: 10px;
    padding-top: 25px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}

.section-title {
    background-color: rgb(243, 230, 212);
    padding: 1px 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-top-right-radius: 5px;
}

    .section-title:first-of-type {
        margin-top: 0px;
    }



.page-content {
}


.logo {
    font-size: 25px;
    color: orange;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* common classes*/

.padding-md {
    padding: 5px;
}

.tableNoBorder {
    border: 0px solid #dddddd;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }


/*#region language selector*/
.languageDropdownContainer {
    display: inline-block;
    padding-top: 15px;
    color: #777;
}

    .languageDropdownContainer select {
        display: inline;
        width: 70px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: transparent;
    }

/*#endregion*/
