﻿body {
    background-color: rgb(245, 245, 245);
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

/*#region CommonClasses*/

.whitePanel {
    background-color: white;
    color: #333;
}


/*#endregion*/


.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.padding-sm {
    padding: 2px;
}

.text-orange {
    color: orange;
}


/*navbar overwrites*/

.top-info-panel {
    background-color: rgb(240, 240, 240);
    padding: 5px 0px;
    color: #969696;
    border-bottom: 1px solid rgb(220, 220, 220);
}

    .top-info-panel a {
        text-decoration: none;
        color: rgb(255,93,0);
    }

        .top-info-panel a:hover {
            color: red;
        }

.siteHeader {
    background-color: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.25);
    min-height: 80px;
    margin-bottom: 15px;
    z-index: 100;
    width: 100%;
}

    .siteHeader .header-content-container {
        display: flex;
        height: 80px;
    }

    .siteHeader input {
        max-width: none;
        min-width: 400px;
    }

#landingPageContainer {
    background-color: white;
    color: rgb(68,68,68);
}

    #landingPageContainer h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    #landingPageContainer a {
        color: rgb(68,68,68);
    }

    #landingPageContainer hr {
        margin: 0px;
    }


.sponsoredRestaurants {
    padding: 10px;
}

    .sponsoredRestaurants .card {
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .sponsoredRestaurants .restaurantpicture {
        width: 200px;
        height: 130px;
    }

.showItem {
    padding: 10px;
    margin-bottom: 10px !important;
    border: 1px solid #ededed;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    max-width: 650px;
}

.searchByCuisines {
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.banners {
    padding: 20px;
}

    .banners .carousel .item {
        height: 260px;
    }

    .banners .item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 260px;
        width: 100%;
    }

/* New CSS for Search page in 2Order*/

div.filterPanel {
    background-color: #fff;
    color: green;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,2);
}

.left {
    float: left;
}

.left-container {
    position: relative;
    width: 100%;
}

.boxShadow {
    padding: 25px;
    margin-bottom: 20px !important;
    border: 1px solid #ededed;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 3px;
    max-width: 650px;
}

    .boxShadow:hover {
        box-shadow: 0 1px 2px -1px rgba(0,0,0,2);
    }

    .boxShadow .cuisineList {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #8F8F8F;
        font-size: small;
    }

    .boxShadow h4 {
        font-weight: 200;
        font-style: normal;
        font-family: Arial, sans-serif;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .boxShadow .restaurantpicture {
        width: 200px;
        height: 130px;
    }

    .boxShadow .restaurantDetails {
        height: 130px;
        padding: 0px 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .boxShadow .currency {
        margin-right: -5px;
        padding: 0px;
        font-size: smaller;
        color: #8F8F8F;
    }

    .boxShadow .currency-active {
        color: orange;
    }

    .boxShadow .stars {
        color: orange;
    }

.imageShadow {
    padding-top: 20px;
    margin-bottom: 20px !important;
    border: 1px solid #ededed;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 3px;
}

    .imageShadow:hover {
        box-shadow: 0 1px 2px -1px rgba(0,0,0,2);
    }

    .imageShadow .cuisineList {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #8F8F8F;
        font-size: small;
    }

    .imageShadow h3 {
        font-weight: 200;
        font-style: normal;
        font-family: Arial, sans-serif;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.btn-margin {
    margin-top: 14px;
}


div.filterHeaderSection {
    padding: 10px 5px 10px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
    color: rgb(33, 33, 33);
}

div.filterSection {
    padding: 15px 5px 10px 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
    color: rgb(33, 33, 33);
}

.footer {
    margin-top: 50px;
    padding: 15px;
    background-color: rgb(54,54,54);
    color: rgb(255,145,0);
}

    .footer a {
        color: rgb(205,205,205) !important;
        margin-right: 20px;
    }


.signInContainer {
    background-color: white;
    color: rgb(68,68,68);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

    .signInContainer .signUp {
        background-color: rgb(255, 250, 240);
        text-align: center;
        padding: 30px 0px;
        margin-top: 30px;
    }

    .signInContainer h4.Or {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(200,200,200);
        line-height: 0.1em;
        margin: 30px 0 30px;
        color: rgb(68,68,68);
    }


        .signInContainer h4.Or span {
            background: #fff;
            padding: 0 10px;
        }


    .signInContainer input {
        border-radius: 2px;
    }

.facebookContainer .facebook-btn {
    color: #fff;
    border: 1px solid #2d5073;
    background-color: #3a5898;
    border-radius: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .facebookContainer .facebook-btn:hover {
        background-color: #3a58AA;
    }

}



.category {
    padding: 72px 0 0 0;
}

    .category table tr:hover td {
        background-color: #e6e6fa;
    }


/*#region myaccount page*/
.adminContainer {
    text-align: right;
    padding: 10px 20px;
    background-color: rgb(60, 184, 120);
    color: white;
    height: 50px;
    border-radius: 0px;
}

.nav-section {
    padding: 13px 7px 0 3px;
    margin-bottom: 13px;
    border-top: 1px solid #ccc;
    overflow: hidden;
}

    .nav-section a {
        text-decoration: none;
        color: #666;
        display: block;
        width: 150px;
    }

        .nav-section a:hover {
            color: blue;
        }

        .nav-section a.activeBgColor {
            background-color: rgb(60, 184, 120);
            color: white;
        }

    .nav-section h5 {
        padding: 0 0 2px 4px;
        color: #848484;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        margin: 0px;
    }

    .nav-section p {
        padding: 4px 0 4px 4px;
        display: block;
        color: #666;
        text-decoration: none;
        cursor: pointer;
        margin: 0px;
    }

        .nav-section p.activeBgColor {
            background-color: rgb(60, 184, 120);
            border-radius: 3px 3px;
            padding: 5px;
            color: white;
        }


    .nav-section label:hover {
        background-color: #f4f4f4;
    }

/*#endregion*/


/*#region language dropdown*/

.languageDropdownContainer {
    display: inline-block;
    color: rgb(255,93,0);
}

    .languageDropdownContainer select {
        display: inline;
        width: 70px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: transparent;
    }

/*#endregion*/
.credit-card {
    background: rgb(241, 241, 239);
    margin: 2em auto;
    /*padding: 2.5em 1em 2em 1.5em;*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 1px 0, rgba(0, 0, 0, 0.117647) 0 0 0 0;
    max-width: 19.063em;
    height: 12.031em;
}

.infoWindow {
    width: 100%;
    padding: 1em;
    height: 50%;
    float: left;
    color: #FFF;
    background: #ed1e79;
    line-height: 25px;
    border-radius: 5px 5px 5px 5px;
}
