﻿@model ToOrder.Core.Entities.Banner
@using ToOrder.Web.Helpers

@{
    ViewBag.Title = "Create";
}

@section Scripts{
    <script>

        $(function () {

            $('#FromDate').datepicker({
                dateFormat: '@Html.ConvertDateFormat()',
                changeYear: true,
                onSelect: function (selected) {
                    $("#ToDate").datepicker("option", "minDate", selected)
                }
            });

            $('#ToDate').datepicker({
                dateFormat: '@Html.ConvertDateFormat()',
                changeYear: true,
                onSelect: function (selected) {
                    $("#FromDate").datepicker("option", "maxDate", selected)
                }
            });

        })
    </script>

}


@section pageHeader{
    <h5>@Resources.AddBanner</h5>
}

<div class="row section">
    <div class="row">
        <div class="col-md-5">
            @{Html.RenderPartial("AddEditPartial", Model);}
        </div>
    </div>
</div>
