﻿@model ToOrder.Core.Entities.Banner

@{
    ViewBag.Title = "Delete";
}
<div>

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessBanners", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <h4>@Resources.DeleteConfirmation @Resources.Banners ?</h4>
            </div>
            <div class="col-md-8 col-md-offset-4">
                <img src="@Url.Content( "~/Pictures/Banner/" + Model.Id + "_" + Model.FileName)" class="thumbnail" width="120" height="120" onerror="this.onerror = null; this.src = '/Images/no_logo.png';" />
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> @Resources.Yes </button>
                <input type="button" value="@Resources.No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
            </div>
        </div>

    }
</div>
