﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Banner>

@{
    ViewBag.Title = "Index";
}

@section Scripts {

    <script>

        $('#fromDate').datepicker({
            dateFormat: "dd-M-y",
            changeYear: true,
            onSelect: function (selected) {
                $("#toDate").datepicker("option", "minDate", selected)
            }
        });

        $('#toDate').datepicker({
            dateFormat: "dd-M-y",
            changeYear: true,
            onSelect: function (selected) {
                $("#fromDate").datepicker("option", "maxDate", selected)
            }
        });


        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2ordr", width: "auto" });

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessBanners(data) {

            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "Banner")";
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

    </script>
}



@section pageHeader{
    <h5>@Resources.Banners</h5>
}

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>

<div class="row section">

    <div class="col-md-6">
        @using (Html.BeginForm("Search", "Banner", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.Label(Resources.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("restaurantId", new SelectList(ViewBag.restaurant, "Id", "Name"), "", new { @class = "form-control" })
                    @Html.ValidationMessage("restaurantId")
                </div>
            </div>

            <div class="form-group">
                <label for="fromDate" class="col-md-3 control-label">@Resources.FromDate</label>
                <div class="col-md-4">
                    <input type="text" name="fromDate" class="form-control" id="fromDate" placeholder="">
                </div>
                <label for="toDate" class="col-md-1 control-label">@Resources.ToDate</label>
                <div class="col-md-4">
                    <input type="text" name="toDate" class="form-control" id="toDate" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> @Resources.Search</button>
                </div>
            </div>
        }
    </div>

</div>

<div class="section">
    <div class="text-right padding-md">
        @Html.ActionLink(Resources.AddNew, "Create", null, new { @class = "btn btn-primary btn-sm" })
    </div>

    <div>
        <table class="table table-hover table-responsive ">
            <tr>
                <th>
                    @Html.DisplayName(Resources.FileName)
                </th>
                <th>
                    @Html.DisplayName(Resources.Url)
                </th>
                <th>
                    @Html.DisplayName(Resources.FromDate)
                </th>
                <th>
                    @Html.DisplayName(Resources.ToDate)
                </th>
                <th>
                    @Html.DisplayName("RestaurantId")
                </th>
                <th>
                    @Html.DisplayName(Resources.IsActive)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RestaurantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-xs" })
                    </td>
                </tr>
            }

        </table>

    </div>

    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, restaurantId = ViewBag.restaurants }))
    </div>

</div>
