﻿@model ToOrder.Core.Entities.MenuItem
@{
    ViewBag.Title = "Delete";
}

<div>
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessMenuItem", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.MenuCardId)
            <div class="form-group">
                <div class="col-md-10">
                    <h4>@Resources.DeleteConfirmation Menu Item @Model.Name?</h4> <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> @Resources.Yes </button>
                    <input type="button" value="@Resources.No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }
</div>


