﻿@model IEnumerable<ToOrder.Core.Entities.MenuItem>

@{
    ViewBag.Title = "Index";
}


@{ var menuCard = (ToOrder.Core.Entities.MenuCard)ViewBag.MenuCard;     }

@section pageHeader{
    <h5> @menuCard.Name @Resources.Details </h5>

}


<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
<div class="card">
    <p>
        @Html.ActionLink(Resources.AddNew, "Create", new { menuCardId = menuCard.Id }, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id }) |
                    @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { OnSuccess = "showDialog", UpdateTargetId = "ajaxDialog" })
                </td>
            </tr>
        }

    </table>

</div>
@section scripts {
    <script>
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2Ordr", width: "auto" })

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessMenuItem(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "MenuItem",new {menuCardId=Convert.ToInt32(menuCard.Id)})";
        };

        function handleError(ajaxContext) {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };
    </script>
}