﻿@model IEnumerable<ToOrder.Core.Entities.UserRestaurant>

@{
    ViewBag.Title = "Index";
}

@section pageHeader{
    <h5>Restaurant @Resources.User</h5>
}

<div class="card">
    <p>
        @Html.ActionLink(Resources.AddNew, "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(Resources.Name)
            </th>
            <th>
                @Html.DisplayName(Resources.User)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { OnSuccess = "showDialog", UpdateTargetId = "ajaxDialog" })
                </td>
            </tr>
        }

    </table>

</div>
<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
@section scripts {
    <script>
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2Ordr", width: "auto" })

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessUserRestaurant(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "User")";
        };

        function handleError(ajaxContext) {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };
    </script>
}