﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid top-info-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="col-md-8 col-md-offset-4">
                        <span>@Resources.DownloadOurApp:</span>
                        <img src="~/Content/Images/apple-logo.png" height="18" />
                        <img src="~/Content/Images/android-logo.png" height="18" />
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="pull-right">
                        @Html.ActionLink(Resources.Help, "Help", "Home") |
                        @Html.ActionLink(Resources.MyAccount, "MyAccount", "User") |
                        @{Html.RenderAction("LanguageSelector", "Language");}

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid siteHeader">
        <div class="container">
            <div class="left-container">
                <div class="header-logo left" style="margin-right:30px;">
                    <a href="/">
                        <img src="~/Content/Images/2OrderLogo.png" />
                    </a>
                </div>

                <div class="heder-content">
                    <div class="header-content-container">
                        <div style="align-self:center;">
                            @if (IsSectionDefined("header"))
                            {
                                @RenderSection("header")
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>

        $(function () {

            //$(window).scroll(function (e) {
            //    var top_height = $('.top-info-panel').height() + 20;

            //    var $el = $('.siteHeader');
            //    var isPositionFixed = ($el.css('position') == 'fixed');

            //    if ($(this).scrollTop() > top_height && !isPositionFixed) {
            //        $el.css({ 'position': 'fixed', 'top': '0px' });
            //    }

            //    if ($(this).scrollTop() < top_height && isPositionFixed) {
            //        $el.css({ 'position': 'static', 'top': '0px' });
            //    }
            //});

        });


    </script>
</body>
</html>
