﻿@model ToOrder.Core.Entities.Order

<div class="">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessOrder", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <h4>Order# @Html.DisplayFor(model => model.Id)</h4>
        <hr /> 
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-9 col-md-offset-2">

                <div class="col-md-offset-2">
                    <label class="control-label" for="Name">Restaurant Name:</label>  <span>@Html.ValueFor(model => model.Restaurant.Name) </span><br />
                    <label class="control-label" for="Title">Date:</label>  <span>@Html.ValueFor(model => model.Date) </span><br />
                    <label class="control-label" for="Description">GrossAmount:</label>  <span>@Html.ValueFor(model => model.GrossAmount) </span><br />

                    <label class="control-label" for="Description">Tax:</label>  <span>@Html.ValueFor(model => model.Tax) </span><br />
                    <label class="control-label" for="Description">NetAmount:</label>  <span>@Html.ValueFor(model => model.NetAmount) </span><br />
                </div>
                <hr />
            </div>
            
        </div>
        
    
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <div class="col-md-offset-1">
                    <input type="button" value="Close" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }

</div>

