﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Order>

@{
    ViewBag.Title = "Index";
}

<h2> @Resources.YourRecentOrders</h2>
<hr />


@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "myAccountContentWrapper" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div>
            <table class="table table-hover ">

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <span class="glyphicon glyphicon-play"> </span>


                            @Ajax.ActionLink("Order# " + item.Id, "Index", "OrderDetails", new { orderId = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" })
                            <br />
                            @Resources.PlacedOn
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a href="@Url.Action("Index","MenuCard",new { restaurantId = item.RestaurantId })"> @Html.DisplayFor(modelItem => item.Restaurant.Name)</a>
                        </td>
                        <td>
                            TOTAL<br />$
                            @Html.DisplayFor(modelItem => item.NetAmount)
                        </td>
                    </tr>
                }

            </table>

        </div>

        <div class="text-right ">
            @Html.PagedListPager(Model, page => Url.Action("Search", new { page }))
        </div>

    </div>



}
