﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/AdminSite.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/adminscript.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">

        @if (IsSectionDefined("header"))
        {
        @RenderSection("header")
        }
        else
        {
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand  " href="@Url.Action("Index","Home",new{area=""})"> <span class="logo"><b>2</b>ordr</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li>

                        <a href="@Url.Action("Index","Home",new{area=""})" class=""><i class="glyphicon glyphicon-home"></i> Website</a>

                    </li>

                    <li>
                        <span class="glyphicon glyphicon-globe" style="color:#777;"></span>@{Html.RenderAction("LanguageSelector", "Language", new { area = "" });}
                    </li>


                    <li>

                        <a href="@Url.Action("SignOut","Account",new{area=""})" class=""><i class="glyphicon glyphicon-user"></i> Sign Out</a>

                    </li>
                </ul>
            </div>
        </div>
        }
    </nav>

    <div class="fixed-sidebar-left">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <ul class="nav navbar-nav side-nav nicescroll-bar" style="overflow: hidden; width: auto; height: 100%;">
                <li><a id="restDashboard" href="@Url.Action("Dashboard", "Restaurant", new { area = "admin" })"><i class=" glyphicon glyphicon-picture"></i> Dashboard</a></li>
                <li><a id="restIndex" href="@Url.Action("Index", "Restaurant", new { area = "admin" })"><i class="glyphicon glyphicon-glass"></i> Restaurant</a></li>
                <li><a id="cuisine" href="@Url.Action("Index", "Cuisine", new { area = "admin" })"><i class="glyphicon glyphicon-home"></i> Cuisine</a></li>
                <li><a id="rating" href="@Url.Action("Index", "Rating", new { area = "admin" })"><i class="glyphicon glyphicon-home"></i> Rating</a></li>
                <li><a id="order" href="@Url.Action("Index", "Order", new { area = "admin" })"><i class="glyphicon glyphicon-list-alt"></i> Order</a></li>
                <li><a id="banner" href="@Url.Action("Index", "Banner", new { area = "admin" })"><i class="glyphicon glyphicon-list-alt"></i> @Resources.Banners</a></li>

            </ul>
        </div>
    </div>

    <div class="page-wrapper" style="min-height:900px;">
        <div class="container-fluid">
            <div class="row heading-bg bg-yellow txt-light">
                @RenderSection("pageHeader", false)
            </div>

            <div class="row">
                @RenderBody()
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/Scripts/tablesorter/jquery.tablesorter.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
