﻿@model IEnumerable<ToOrder.Core.Entities.Banner>


@if (Model.Any())
{
    <div class="banners">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->

            <div class="carousel-inner" role="listbox">


                @{int i = 0;}

                @foreach (var item in Model)
                {
                    i++;
                    var active = i == 1 ? "active" : "";

                    <div class="item @active">

                        <a href="#">
                            <img src="@Url.Content( "~/Pictures/Banner/" + item.Id + "_" + item.FileName) " alt="chania" style="height:100%;">
                        </a>

                    </div>
                }

            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
}