﻿@model ToOrder.Core.Entities.Cuisine

@{
    ViewBag.Title = "Delete";
}
<div>

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessCuisines", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Name)

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1">
                    <h4>@Resources.DeleteConfirmation cuisine @Html.ValueFor(model => model.Name)?</h4> <br /> 
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button value="Delete" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> @Resources.Yes </button>
                    <input type="button" value="@Resources.No" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }
</div>
