﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<ToOrder.Core.Entities.Cuisine>


@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script>

        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2ordr", width: "auto" });

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };
        function handleSuccessCuisines(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "Cuisine")";
        };

        function handleSuccessCreateCuisine(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "Cuisine")";
        };

        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

        $(function () {


            $(".tablesorter").tablesorter({
                sortReset: true,
                sortRestart: true,
                sortInitialOrder: 'desc',
                headers: { 2: { sorter: false } }

            });

        });


        $(document).ready(function () {
            $('.editbtn').click(function () {
                if ($(this).html() == '@Resources.Edit') {
                    $(this).html('@Resources.Update');
                    $(this).closest('tr').find('#details').hide();
                    $(this).closest('tr').find('#delete').hide();
                    $(this).closest('tr').find('#Cancel').attr('style', 'visible');
                    currentTD = $(this).parents('tr').find('td:nth-child(1)');
                    $.each(currentTD, function () {
                        $(this).find('#editdiv').prop('contenteditable', true)
                    });
                } else {
                    $('#errorDiv').empty();
                    var cuisineName = $(this).parents('tr').find('td:nth-child(1)').text().replace('\n', '').trim();
                    if (cuisineName == '') {
                        $("#dialogedit").dialog({
                            height: 200,
                            width: 300,
                            model: true,
                            buttons: {
                                "OK": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        return;
                    }

                    var x = $(this).closest('tr').find('#edit').val();
                    var date = $(this).parents('tr').find('td:nth-child(2)').text();
                    $.ajax({
                        url: '@Url.Action("Edit","Cuisine")',
                        dataType: 'json',
                        data: { "Id": x, "Name": cuisineName, "CreationDate": date },
                        type: 'POST',
                        success: function (data) {
                            var row = "#row" + data.msg;
                            $(row).find('#edit').html('@Resources.Edit');
                            $(row).find('#details').attr('style', 'visible');
                            $(row).find('#delete').attr('style', 'visible');
                            $(row).find('#Cancel').hide();
                            currentTD = $(row).find('td:nth-child(1)');
                            $.each(currentTD, function () {
                                $(row).find('#editdiv').prop('contenteditable', false)
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            var obj = JSON.parse(xhr.responseText);
                            $('#errorDiv').html(obj.errors);
                            currentTD = $(this).parents('tr').find('td:nth-child(1)');
                            $.each(currentTD, function () {
                                $(this).find('#editdiv').prop('contenteditable', true)
                            });
                        }
                    });



                }
                //   $(this).html($(this).html() == 'Edit' ? 'Update' : 'Edit');

            });


            $('.cancelbtn').click(function () {
                $(this).closest('tr').find('#details').attr('style', 'visible');
                $(this).closest('tr').find('#delete').attr('style', 'visible');
                $(this).closest('tr').find('#Cancel').hide();
                $(this).closest('tr').find('#edit').html('@Resources.Edit');
                currentTD = $(this).parents('tr').find('td:nth-child(1)');
                $.each(currentTD, function () {
                    $(this).find('#editdiv').prop('contenteditable', false)
                });
            });
        });
    </script>
}

@section pageHeader{
    <h5>@Resources.Cuisines</h5>
}

<div id="ajaxDialog" class="ajaxDialog" style="min-width:200px;height:100px"></div>


<div id="dialogedit" style="display: none" align="center">
    @Resources.PleaseEnterName
</div>

<div class="row section">

    <div class="col-md-6">
        @using (Html.BeginForm("Search", "Cuisine", FormMethod.Get, new { @class = "form-horizontal" }))
        {

            <div class="form-group">
                <label for="cuisineName" class="col-md-3 control-label">Cuisine</label>
                <div class="col-md-9">
                    <input type="text" name="cuisine" class="form-control" id="cuisineName" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> @Resources.Search</button>
                </div>
            </div>
        }
    </div>

</div>


<div class="section">
    <div class="text-right padding-md">
        @Ajax.ActionLink(Resources.AddNew, "Create", "", new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-primary btn-xs", id = "create" })
    </div>

    <div>
        <div id="errorDiv" style="color:red"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table table-hover table-responsive  tablesorter" id="cuisineTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName(Resources.Name)
                    </th>
                    <th>
                        @Html.DisplayName(Resources.CreationDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                var rowId = "row" + item.Id;
                <tr id="@rowId">
                    <td contenteditable="false" id="nameEdit">
                        <div id="editdiv" contenteditable="false">
                            @Html.DisplayFor(modelItem => item.Name)
                            @Html.ValidationMessageFor(modelItem => item.Name, "", new { @class = "text-danger" })
                        </div>
                    </td>
                    <td contenteditable="false">
                        @Html.DisplayFor(modelItem => item.CreationDate)
                        @Html.ValidationMessageFor(modelItem => item.CreationDate, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs editbtn" id="edit" value=@item.Id>@Resources.Edit</button>
                        @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-xs btndelete", id = "delete" })
                        <button class="btn btn-default btn-xs cancelbtn" id="Cancel" style="visibility:hidden">@Resources.Cancel</button>
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="text-right ">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page, cuisine = ViewBag.cuisine }))
    </div>

</div>
