﻿@model IEnumerable<ToOrder.Core.Entities.UserFavorites>
@using System.Linq



@if (Model.Any())
{
    var groups = Model.GroupBy(i => i.MenuItem.MenuCard.Restaurant);

    <div class="sponsoredRestaurants">
        <h2>@Resources.FavoriteItem</h2>

        @foreach (var group in groups)
        {
            <div class="row" id="@group.Key">

                <h6><strong> @Html.DisplayFor(model => group.Key.Name)</strong></h6>

                <div class="row">

                    @foreach (var item in group)
                    {
                        <div class="col-md-2 col-lg-2">

                            <button type="button" class="close" aria-label="Close" onclick="location.href='@Url.Action("Delete", "MenuItem", new { id = item.Id, returnUrl = this.Request.RawUrl })'">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <div class="showItem">
                                <a style="text-decoration:none" href="#">

                                    <label>@item.MenuItem.Name</label><br />

                                    <span>$ @item.MenuItem.Price</span>
                                </a>
                            </div>

                        </div>
                    }
                </div>

            </div>
        }
    </div>
}
