﻿@model ToOrder.Core.Entities.MenuCard

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurantMenuCard", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Menu Card</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RestaurantId)
            <div class="form-group">
                @Html.Label("Menu Card", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                @Html.Label("Default", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-0">
                    @Html.CheckBoxFor(model => model.IsDefault, new { @class = "checkbox" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> @Resources.Save </button>
                    <input type="button" value="@Resources.Close" class=" btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }

</div>
