﻿@model IEnumerable<ToOrder.Core.Entities.MenuItem>

@{
    ViewBag.Title = "Index";
}

@section pageHeader{
    <h5>@ViewBag.RestaurantName</h5>
}

<h3 class="page-header">Menu Card  :<span class="text-primary"> @ViewBag.MenuCardName</span></h3>
<div class="section">
    <div>
        @Ajax.ActionLink(Resources.Add, "Create", "RestaurantMenuItem", new { menucardId = (int)ViewBag.MenuCardId, restaurantId = (int)ViewBag.RestaurantId }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })
    </div>

    <div>
        <table class="table table-hover table-responsive">
            <tr>
                <th>
                    @Resources.Name
                </th>
                <th>
                    @Resources.Category
                </th>
                <th>
                    @Resources.Price
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td style="text-align:right; padding-right:15px;">
                        @Ajax.ActionLink(Resources.Edit, "Edit", "RestaurantMenuItem", new { menuitemId = item.Id, restaurantId = item.MenuCard.RestaurantId }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                        @Ajax.ActionLink(Resources.Delete, "Delete", "RestaurantMenuItem", new { menuitemId = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>

@section Scripts {

    <script>
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2ordr", width: "auto" });

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessRestaurantMenuItem(data) {

            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Details", "RestaurantMenuCard")";
        };
        function handleSuccessMenuCardItems(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Details", "RestaurantMenuCard")";
        };
        function handleError(ajaxContext) {

            $("#ajaxDialog").html(ajaxContext.responseText);
        };

    </script>
}




