﻿@model IEnumerable<ToOrder.Core.Entities.MenuCard>

@{
    ViewBag.Title = "Index";
}


<div class="section-title clearfix">
    <span class="glyphicon glyphicon-book"></span><label>@Resources.MenuCards</label>
    @Ajax.ActionLink(Resources.Add, "Create", new { restaurantId = (int)ViewBag.RestaurantId }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-xs btn-success pull-right " })

</div>


<table class="table table-hover tableNoBorder">
    <tr>
        <th>
            @Html.DisplayName(Resources.Name)
        </th>
        <th>
            @Html.DisplayName(Resources.Default)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDefault, new { @disabled = "disabled" })
            </td>
            <td style="text-align:right; padding-right:15px;">
                @Html.ActionLink(Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })


                @Ajax.ActionLink(Resources.Edit, "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })


                @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
            </td>
        </tr>
    }

</table>
