﻿@model IEnumerable<ToOrder.Core.Entities.MenuCard>

@{
    ViewBag.Title = "Index";
}

@section pageHeader{
    <h5>Menu Cards</h5>
}


<div class="card">
    <p>
        @Html.ActionLink(Resources.CreateNew, "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsDefault)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Index", "MenuItem", new { menuCardId = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDefault)
                </td>
                <td>
                    @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(Resources.Details, "Index", "MenuItem", new { menuCardId = item.Id }, null) |
                    @Ajax.ActionLink(Resources.Delete, "Delete", new { id = item.Id }, new AjaxOptions { OnSuccess = "showDialog", UpdateTargetId = "ajaxDialog" })
                </td>
            </tr>
        }

    </table>

</div>

<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;"></div>
@section scripts {
    <script>
        $(function () {
            $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title: "2Ordr", width: "auto" })

        });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccessMenucard(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "MenuCard")";
        };

        function handleSuccessMenuCardItems(data) {
            $("#ajaxDialog").dialog("close");
            location.href = "@Url.Action("Index", "MenuCard")";
        };

        function handleError(ajaxContext) {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };
    </script>
}