﻿@model ToOrder.Core.Entities.DinningTable

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccessRestaurantdinningtable", OnFailure = "handleError" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Restaurant @Resources.DinningTables</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.Label("Menu Cards", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.MenuCardId, ViewBag.dinningTableList as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MenuCardId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(Resources.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">

                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(Resources.NumberOfChair, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.SeatCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SeatCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button value="Save" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> @Resources.Save </button>
                    <input type="button" value="@Resources.Close" class="btn btn-default btn-xs" id="diagCloseBtn" onclick="closeDialog();" />
                </div>
            </div>
        </div>
    }

</div>
